<div class="footer footer-m-padding">
  <div class="container">
    <div class="col-12">
      <div class="disclamer">
        <p>* Le informamos que los datos personales que Ud. nos facilita serán incorporados a un fichero
          titularidad de VOLKSWAGEN GROUP ESPAÑA DISTRIBUCIÓN, S.A. (en adelante, “VGED”), con la
          finalidad de gestionar su participación, preferencias y peticiones especiales en los eventos
          organizados y patrocinados por VGED y para informarle periódicamente de novedades y futuros
          eventos, tanto por medios escritos como electrónicos, pudiendo ser tales informaciones adecuadas
          a sus perfiles particulares.</p>
        <p>En caso de que Ud. nos proporcione datos relativos a otra persona física deberá, con carácter
          previo a su inclusión, informarle de los extremos contenidos en la presente cláusula.</p>
        <p>Puede ejercitar los derechos de acceso, rectificación, cancelación y oposición al tratamiento
          de sus datos, así como revocar su consentimiento para el envío de comunicaciones comerciales
          electrónicas, mediante petición escrita a la dirección Parque de Negocios Mas Blau II, Carrer de
          la Selva, 22, 08820 El Prat de Llobregat, Barcelona o remitiendo un correo electrónico a
          lopd@vwgproservice.es indicando claramente el derecho que desea ejercitar, su nombre, apellidos
          y una copia del documento nacional de identidad (DNI) o documento similar que le acredite.</p>
      </div>
    </div>
  </div>
</div>