<div class="footer">
  <div class="container">
    <div class="col-4 footer-col-logo">
      <a routerLink="/" class="logo" data-aos="fade-left" data-aos-anchor-placement="center-bottom" data-aos-once="true">PRO Service. Punto de recambios originales. Volkswagen Group. De profesional a profesional.</a>
    </div>
    <div class="col-3 footer-col-contact">
      <a class="contact-button button" routerLink="/contacto">Contacta</a>
      <a class="contact-button button" routerLink="/suscripcion-newsletter">Apúntate a nuestra Newsletter</a>
      <ul class="social">
        <!--<li><a class="social_facebook" href="https://www.facebook.com/PRO-Service-159277817889331/">Facebook</a></li>-->
        <!--<li><a class="social_twitter" href="https://twitter.com/PROServiceVW">Twitter</a></li>-->
        <li><a class="social_youtube" href="https://www.youtube.com/channel/UCsR3PtxjFWvc_wx09tLyzOQ">YouTube</a></li>
      </ul>

      <a class="condiciones-generales-lnk" href="/Condiciones-Generales-web-PRO-Service.pdf" about="_blank">Condiciones Generales</a>
    </div>
    <div class="col-5 footer-col-menu">
      <div class="menu-container">
        <ul class="menu">
          <li><a routerLink="/">Inicio</a></li>
          <li><a routerLink="/proservice">Acerca de nosotros</a></li>
          <li><a routerLink="/ventajas-taller-volkswagen">Ventajas PRO Service</a></li>
          <li><a routerLink="/productos-y-servicios">Productos y servicios</a></li>
          <li><a routerLink="/puntos-proservice">Puntos PRO Service</a></li>
        </ul>
        <ul class="menu">
          <!--<li><a routerLink="/programa-vinculacion">Programa de vinculación</a></li>-->
          <li><a routerLink="/alta">Únete a PRO Service</a></li>
          <li><a routerLink="/noticias-volkswagen-proservice">Noticias</a></li>
          <li><a routerLink="/grandes-cuentas">Grandes cuentas</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>