<div class="header">
  <div class="side_menu" id="side_menu">
    <a href='#' class="side_menu-close" (click)="sideMenuClose($event)"></a>
    <ul class="menu">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/proservice">Acerca de nosotros</a></li>
      <li><a routerLink="/ventajas-taller-volkswagen">Ventajas PRO Service</a></li>
      <li><a routerLink="/productos-y-servicios">Productos y servicios</a></li>
      <li><a routerLink="/puntos-proservice">Puntos PRO Service</a></li>
      <!--<li><a routerLink="/programa-vinculacion">Programa de vinculación</a></li>-->
      <li><a routerLink="/alta">Únete a PRO Service</a></li>
      <li><a routerLink="/noticias-volkswagen-proservice">Noticias</a></li>
      <li><a routerLink="/grandes-cuentas">Grandes cuentas</a></li>
      <li><a routerLink="/suscripcion-newsletter">Apúntate a nuestra Newsletter</a></li>
      <li><a routerLink="/contacto">Contacta</a></li>
    </ul>
  </div>
  <div class="navbar navbar-sticky">
    <div class="container">
      <div class="col-full">
        <h1 *ngIf="pageTitle">{{ pageTitle }}</h1>
        <a routerLink="/" class="logo">PRO Service. Punto de recambios Originales</a>
        <a href='#' class="side_menu-trigger" (click)="sideMenuOpen($event)"></a>
        <ul class="menu menu-utility">
          <li><a routerLink="/suscripcion-newsletter">Apúntate a nuestra newsletter</a></li>
          <li><a routerLink="/contacto">Contacta</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>