html, body {
  min-height: 600px;
  position: relative;
}


html {
}

body {
  @include regularText;
  @include regularSize;
  color: $color-black;
  background-color: $color-gray;
}

b, strong {
  font-weight: bold;
}

.small, small {

}

.large, big {
  @include largeSize;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, figure {
  margin-top: 0px;
  margin-bottom: $base-line-height;
}

p.large {
  margin-bottom: $large-line-height;
}

p {
  span.intro {
    display: block;
    @include largeSize;
    margin-bottom: $base-line-height / 2;
  }
}

p.extra-margin {
  margin-top: 40px;
  margin-bottom: 60px;
}

h1, h2, h3, h4, h5 {
  @include headingText;
}

h1 {

}

h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.upper {
  text-transform: uppercase;
  font-weight: normal;
}

h2.upper {
  @include xmedSize;
}

h2.mixed {
  @include slargeSize;
  font-weight: normal;
}

h2.center {
  text-align: center;
  padding: 15px 0;
  margin: 0;
}

h3 {
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 15px;
}

p {
}

a {
  text-decoration: none;
  color: $color-link;
  &:hover {
    text-decoration: underline;
    color: $color-link-hover;
  }
}

a.blocklink {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}