$color-white-real: #fff;
$color-black-real: #000;

$color-white: $color-white-real;
$color-black: $color-black-real;
$color-yellow-light: #f3cd2d;
$color-yellow-alt: #e0bb33;
$color-yellow: #d8aa00;
$color-gray-dark: #5e5e5e;
$color-gray: #eeeeee;
$color-gray-light: #f4f4f4;
$color-gray-overlay: #cccccc;
$color-gray-placeholder: #a9a9a9;

$color-background: $color-white;
$color-text: $color-black;
$color-link: $color-black;
$color-link-hover: $color-black;

.yellow {
  color: $color-yellow !important;
}

@mixin neg {
  color: $color-white;
  -webkit-font-smoothing: antialiased !important;
}