@include font-face('vwhead', '../fonts/VW_Head/VWHeadWeb-Regular', normal, normal);
//@include font-face('vwhead', '../fonts/VW_Head/VWHeadWeb-RegularItalic', normal, italic);
@include font-face('vwhead', '../fonts/VW_Head/VWHeadWeb-Bold', bold, normal);
//@include font-face('vwhead', '../fonts/VW_Head/VWHeadWeb-BoldItalic', bold, italic);

@include font-face('vwtext', '../fonts/VW_Text/VWTextWeb-Regular', normal, normal);
//@include font-face('vwtext', '../fonts/VW_Text/VWTextWeb-RegularItalic', normal, italic);
@include font-face('vwtext', '../fonts/VW_Text/VWTextWeb-Bold', bold, normal);
//@include font-face('vwtext', '../fonts/VW_Text/VWTextWeb-BoldItalic', bold, italic);

@mixin VWHead {
  font-family: 'vwhead', sans-serif;
}

@mixin VWText {
  font-family: 'vwtext', sans-serif;
}