.main {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  @include outer-container;
  position: relative;
  padding: 0 20px;
}

.col-full,
.col-12 {
  @include span-columns(12);
}

.col-11 {
  @include span-columns(11);
}

.col-10 {
  @include span-columns(10);
}

.col-9 {
  @include span-columns(9);
}

.col-8 {
  @include span-columns(8);
}

.col-7 {
  @include span-columns(7);
}

.col-6 {
  @include span-columns(6);
}

.col-5 {
  @include span-columns(5);
}

.col-4 {
  @include span-columns(4);
}

.col-3 {
  @include span-columns(3);
}

.col-2 {
  @include span-columns(2);
}

.col-1 {
  @include span-columns(1);
}

.col-shift-3 {
  @include shift(3);
}

.col-padded-lr.col-3 {
  padding: 0 2%;

  @include responsive($xs) {
    padding: 0;
  }
}

.col-padded-r.col-6 {
  padding: 0 6% 0 0;

  @include responsive($xs) {
    padding: 0;
  }
}

@include responsive($xs) {
  .col-11, .col-10, .col-9, .col-8, .col-7,
  .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {

    @include span-columns(12);
  }

  .col-shift-3 {
    @include shift(0);
  }
}

.col-single {
  margin: 0 auto;
  max-width: 800px;

  @include responsive($sm-only) {
    max-width: 90%;
  }
}

.col-single-narrow {
  margin: 0 auto;
  max-width: 550px;

  @include responsive($sm-only) {
    max-width: 90%;
  }
}

.col-empty {
  @include responsive($xs) {
    display: none;
  }
}

.col-padded {
  padding: 7% 5% 5% 5%;
}

.col-padded-top {
  padding: 7% 0 5% 0;
}

.col-padded-noright {
  padding: 7% 5% 5% 0;

  @include responsive($xs) {
    padding: 7% 5% 5%;
  }
}

.container-rev {
  @include direction-context(right-to-left) {

    .col-11, .col-10, .col-9, .col-8, .col-7,
    .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {

      margin: 0;
    }

    .col-full,
    .col-12 {
      @include span-columns(12);
    }

    .col-11 {
      @include span-columns(11);
    }

    .col-10 {
      @include span-columns(10);
    }

    .col-9 {
      @include span-columns(9);
    }

    .col-8 {
      @include span-columns(8);
    }

    .col-7 {
      @include span-columns(7);
    }

    .col-6 {
      @include span-columns(6);
    }

    .col-5 {
      @include span-columns(5);
    }

    .col-4 {
      @include span-columns(4);
    }

    .col-3 {
      @include span-columns(3);
    }

    .col-2 {
      @include span-columns(2);
    }

    .col-1 {
      @include span-columns(1);
    }

    @include responsive($xs) {
      .col-11, .col-10, .col-9, .col-8, .col-7,
      .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {

        @include span-columns(12);
      }
    }
  }
}