ul.bullets,
.ssplit-vtop ul.bullets,
.ssplit-vcenter ul.bullets {
  li {
    padding-top: 4px;
    padding-left: 90px;
    background-size: 62px 62px;
    background-repeat: no-repeat;
    background-position: left top;
    min-height: 62px;
    margin-bottom: 20px;

    &:before {
      content: "•";
      display: block;
      @include headingText;
      @include xregularSize;
      font-weight: bold;
      margin-left: -0.75em;
      color: $color-yellow;
      float: left;
    }

    @include responsive($xs) {
      background-position: center top;
      padding: 75px 0 20px;
      text-align: center;

      &:before {
        display: none;
      }
    }

    .large {
      @include headingText;
      @include xregularSize;
      font-weight: bold;
      color: $color-yellow;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .upper {
      @include headingText;
      text-transform: uppercase;
    }

    ul.bullets {
      margin-top: 1px;
      li {
        min-height: 0;
        margin: 0;
        padding: 0;
        padding-left: 1em;
        background-image: none;
        &:before {
          color: $color-text;
        }
      }
    }
  }

  &.large_icons {
    li {
      padding-left: 135px;
      background-size: 102px 102px;
      min-height: 102px;
      margin-bottom: 25px;

      @include responsive($xs) {
        background-position: center top;
        padding: 120px 0 0;
        text-align: center;

        &:before {
          display:none;
        }
      }
    }
  }
}