.ssplit {
  .container, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
  .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    height: 100%;
  }

  .container {
    padding: 0;
    overflow: hidden;
  }

  &.overflow {
    .container {
      overflow: visible;
    }
  }

  .ssplit-valign {
    display: table;
    width: 100%;
  }

  .ssplit-vtop,
  .ssplit-vcenter {
    position: relative;
    z-index: $z-top-text;
    width: 80%;
    margin: 0 auto;
    height: 470px;
    padding: 30px 10% 0;
    display: table-cell;
    margin-left: 30px;
    @include lregularSize;

    @include responsive($xs) {
      height: auto;
      display: block;
      padding: 10% 0;
      margin-left: auto;
    }

    .large {
      @include slargeSize;
      text-transform: uppercase;
      margin-bottom: 20px;

      @include responsive($xs) {
        @include xmedSize;
      }
    }
  }

  .ssplit-vcenter {
    vertical-align: middle;
  }

  .ssplit-vtop {
    vertical-align: top;
    padding-top: 20%;
  }

  .ssplit-vtop-short {
    padding-top: 10%;
  }

  .ssplit-vtop-centered {
    padding: 10% 5%;
    text-align: center;
    @include responsive($xs) {
      width: 90%;
    }
    .button {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .ssplit-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: content-box;
    padding: 0 10%;
    margin: 0 -10%;

    @include responsive($xs) {
      height: 320px;
    }

    &.ssplit-image-contain {
      background-size: contain;
      background-position: center center;
      padding: 0;
      margin: 0;
    }

    &.ssplit-image-rightanchor {
      background-position: right top;
    }

    &.ssplit-image-centeranchor {
      background-position: center center;
    }

    @mixin diag {
      content: " ";
      display: block;
      height: 100%;
      width: 100%;
      @include transform(skew(-13.5deg, 0deg));
      position: absolute;
      z-index: $z-image-frame;
      top: 0;
      background-color: $color-white-real;

      @include responsive($xs) {
        display: none;
      }
    }

    &.diag-right,
    &.diag-left {
      position: relative;
    }

    &.diag-left {
      &:before {
        @include diag;
        left: -100%;
        margin-left: 12.2%;
      }
    }

    &.diag-right {
      &:after {
        @include diag;
        left: 100%;
        margin-left: -12.2%;
      }
    }
  }
}

.section-large,
.section-xlarge {
  &.ssplit {

    .ssplit-vtop,
    .ssplit-vcenter {
      height: 904px;

      @include responsive($xs) {
        height: auto;
      }
    }

    .ssplit-image {
      padding: 0 36%;
      margin: 0 -36%;

      &.ssplit-image-rightanchor {
        padding: 0 0 0 36%;
        margin: 0 0 0 -36%;

        &.diag-left {
          &:before {
            margin-left: 25%;
          }
        }
        &.diag-right {
          &:after {
            margin-left: -25%;
          }
        }
      }

      &.diag-left {
        &:before {
          margin-left: 21%;
        }
      }
      &.diag-right {
        &:after {
          margin-left: -21%;
        }
      }
    }
  }
}

.section-xlarge {
  .ssplit-vtop,
  .ssplit-vcenter {
    height: 1100px;

    @include responsive($xs) {
      height: auto;
    }
  }
}

.section-med {

}

.section-black.ssplit {
  .ssplit-vcenter {
    .large {
      color: $color-yellow;
    }
  }

  .diag-left:before {
    background-color: $color-black-real;
  }

  .diag-right:after, .diag-left:before {
    background-color: $color-black-real;
  }
}

.section-black_white.ssplit {
  .diag-left:before {
    background-color: $color-black-real;
  }
}

.section-yellow.ssplit {
  .diag-left:before,
  .diag-right:after {
    background-color: $color-yellow;
  }
}

.section-yellow_white.ssplit {
  .ssplit-vcenter {
    .large {
      color: $color-yellow;
    }
  }

  .diag-left:before {
    background-color: $color-yellow;
  }
  .diag-right:after {
    background-color: $color-white-real;
  }
}

.section-yellow_black.ssplit {
  .ssplit-vcenter {
    .large {
      color: $color-yellow;
    }
  }

  .diag-left:before {
    background-color: $color-yellow;
  }
  .diag-right:after {
    background-color: $color-black-real;
  }
}