.hoverdiags, .pane, .under, .over {
  box-sizing: content-box;
}

.hoverdiags {
  height: 470px;
  overflow: hidden;

  @include responsive($xs) {
    height: auto;
  }

  .pane {
    position: relative;
    width: 33%;
    height: 100%;
    padding: 10% 0;
    margin: -10% 0;
    float: left;
    overflow: hidden;
    transform: rotate(13.5deg);

    @include responsive($xs) {
      float: none;
      width: 100%;
      height: 400px;
      transform: none;
      padding: 0;
      margin: 0;
    }

    &:first-child {
      padding-left: 10%;
      margin-left: -10%;
      padding-bottom: 7.7%;

      @include responsive($xs) {
        padding-left: 0;
        margin-left: 0;
        padding-bottom: 10%;
      }
    }

    &:last-child {
      padding-right: 10%;
      margin-right: -10%;

      @include responsive($xs) {
        padding-right: 0;
        margin-right: 0;
      }
    }

    .under, .over {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      transform: rotate(-13.5deg);

      @include responsive($xs) {
        transform: none;
      }
    }

    .under {
      margin-left: -20%;
      padding-left: 20%;
      margin-right: -20%;
      padding-right: 20%;
      background-size: cover;
      background-position: center center;
    }

    .hoverdiags-text {
      position: absolute;
      bottom: 150px;
      max-width: 50%;
      @include xmedSize;

      @include responsive($xs) {
        padding: 5%;
        bottom: 10px;
        max-width: 100%;
      }
    }

    .hoverdiags-img {
      position: absolute;
      top: 200px;
      height: 150px;
      width: 48%;
      text-align: center;
      margin-left: 7%;

      @include responsive($xs) {
        width: 100%;
        margin: 0;
        top: 80px;
      }

      .lg, .ic {
        height: 100%;
        width: 100%;
        background-position: center center;
      }

      .ic {
        max-width: 141px;
        max-height: 141px;
      }

      .lg {
        max-width: 80%;
      }
    }

    &:nth-child(1) {
      .under {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
      }

      .hoverdiags-text {
        margin-left: 7%;
        max-width: 40%;

        @include responsive($xs) {
          margin-left: inherit;
          max-width: inherit;
        }
      }

      .hoverdiags-img {
        margin-top: -3.9%;
        margin-left: 3.4%;

        @include responsive($xs) {
          margin-top: 30px;
          margin-left: 0;
        }
      }
    }

    &:nth-child(3) {
      .under {
        margin-right: 0;
        padding-right: 0;
        padding-left: 0;

        @include responsive($xs) {
          margin-right: -20%;
          padding-right: 20%;
          padding-left: 20%;
        }
      }
    }

    .over {
      background-color: rgba(255, 255, 255, 0.8);
      transition: opacity 0.5s;
      padding: 0 20%;
      margin: 0 -20%;
      opacity: 0;

      @include responsive($xs) {
        opacity: 1;
        margin: 0;
        padding: 0;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}