.tabpanes {
  @include clearfix;
  margin-bottom: 40px;
  .tabs {
    @include responsive($xs) {
      display: none;
    }
    li {
      position: relative;
      width: 32%;
      height: 340px;
      float: left;
      margin-right: 2%;
      @include xmedSize;
      transition: height 0.5s;
      cursor: pointer;

      .inner {
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: top center;
        height: 100%;
        text-align: center;
        padding: 70px 20px 20px;
        background-color: $color-white;

        & > * {
          position: relative;
        }
      }

      .ic {
        margin-bottom: 10px;
      }

      &:last-child {
        margin-right: 0;
      }

      &:before {
        content: " ";
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        transform: rotate(45deg);
        background-color: $color-yellow;
        bottom: 10px;
        left: 50%;
        margin-left: -25px;
        transition: bottom 0.2s;
      }

      .inner:before {
        position: absolute;
        content: " ";
        display: block;
        top: 35%;
        left: 50%;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: $color-yellow;
        transition-property: top, left, width, height;
        transition-duration: 0.5s;
      }

      &.selected {
        &:before {
          bottom: -20px;
          transition: bottom 0.25s 0.4s;
        }
        height: 370px;
        .inner:before {
          width: 150%;
          height: 150%;
          top: -25%;
          left: -25%;
        }
      }
    }
  }

  .content {
    position: relative;
    clear: both;
    width: 100%;
    height: 340px;
    float: left;
    border: 3px solid $color-yellow;
    margin-top: -3px;
    padding: 50px 25px 25px;

    @include responsive($xs) {
      height: auto;
      float: none;
      padding: 25px 25px 0;
      border-width: 5px;
      margin-top: 5px;
    }

    .pane {
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      padding-right: 50px;
      top: 70px;
      opacity: 0;
      transition: opacity 0.2s;

      &.active {
        opacity: 1;
      }

      @include responsive($xs) {
        position: relative;
        top: auto;
        opacity: 1;
        padding-right: 0;
      }
    }
  }

  &:before {
    float: left;
    width: 0px;
    height: 371px;
    content: " ";
    display: block;

    @include responsive($xs) {
      display: none;
    }
  }

  .tab-phone {
    display: none;
    text-align: center;
    margin: -26px;
    margin-bottom: 30px;
    padding: 10px 0 15px;
    background-color: $color-yellow;
    @include medSize;

    @include responsive($xs) {
      display: block;

    }
  }
}