.section-small {
  height: 470px;
  position: relative;
}

.section-med {
  height: 650px;
  position: relative;
}

.section-large {
  height: 904px;
  position: relative;
}

.section-xlarge {
  height: 1100px;
  position: relative;
}

.section-small,
.section-large,
.section-med,
.section-xlarge {
  @include responsive($xs) {
    height: auto;
  }
}

.section-nopadding {
  .container {
    padding: 0;
  }
}

.section-black {
  background-color: $color-black-real;
  @include neg();
}

.section-white {
  background-color: $color-white-real;
}

.section-yellow {
  background-color: $color-yellow;
}

.section-black_white {
  @include linear-gradient(90deg, $color-black-real 50%, $color-white-real 50%);
  .container {
    div:first-child {
      @include neg;
    }
  }

  @include responsive($xs) {
    background-image: none;
    background-color: $color-white-real;
    .container {
      & > div:first-child {
        background-color: $color-black-real;
      }
    }
  }
}

.section-yellow_white {
  @include linear-gradient(90deg, $color-yellow 50%, $color-white-real 50%);

  @include responsive($xs) {
    background-image: none;
    background-color: $color-white-real;
    .container {
      & > div:first-child {
        background-color: $color-yellow;
      }
    }
  }
}

.section-yellow_black {
  @include linear-gradient(90deg, $color-yellow 50%, $color-black-real 50%);
  .container {
    div:last-child {
      @include neg;
    }
  }

  @include responsive($xs) {
    background-image: none;
    background-color: $color-black-real;
    .container {
      & > div:first-child {
        background-color: $color-yellow;
      }
    }
  }
}