.hovercircle-row {
  margin-bottom: -20px;
  text-align: center;

  @include responsive($xs) {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 0;
  }

  .hovercircle {
    display: inline-block;
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }

    @include responsive($xs) {
      display: block;
      margin-right: 0;
    }
  }
}

.hovercircle {
  display: block;
  position: relative;
  width: 190px;
  height: 190px;
  font-size: 0;

  @include responsive($xs) {
    width: 100%;
    height: 74px;
    padding: 10px 20px;
    overflow: hidden;
  }

  .on, .off {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .on {
    z-index: 100;
    background-size: 190px 190px;
    background-position: 0 -6px;
    opacity: 0;
    transition: opacity 0s 0s;

    h3 {
      font-size: 0;
      margin: 0;
    }

    @include responsive($xs) {
      position: relative;
      width: 100%;
      height: 54px;
      padding-left: 70px;
      padding-right: 0;
      display: table-cell;
      vertical-align: middle;
      opacity: 1;
      text-align: left;
      background-image: none !important;

      h3 {
        display: inline;
        @include regularSize;
        @include regularText;
        text-transform: uppercase;
      }
    }
  }

  .off {
    z-index: 10;
    background-size: 141px 141px;

    @include responsive($xs) {
      top: 12px;
      width: 50px;
      height: 50px;
      background-size: 50px 50px;
      left: 20px;
    }
  }

  &:before {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;
    width: 0;
    height: 0;
    background-color: $color-white;
    border-radius: 100%;
    transition-property: top, left, width, height;
    transition-duration: 0.6s;

    @include responsive($xs) {
      width: 0 !important;
      height: 0 !important;;
    }
  }

  &:hover {
    .on {
      transition: opacity 0.3s 0.3s;
      opacity: 1;
    }

    &:before {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}