.footer {
  padding: 110px 0 80px;
  background-color: $color-black-real;
  @include neg;

  @include responsive($xs) {
    padding: 40px 0 60px;
  }

  .footer-col-logo {
    @include shift(8);
  }

  .footer-col-contact {
    @include shift(-7);
  }

  .footer-col-menu {
    @include shift(-12);
  }

  @include responsive($xs) {

    .footer-col-logo,
    .footer-col-contact,
    .footer-col-menu {
      @include shift(0);
    }

    .footer-col-menu {
      margin-top: 70px;
    }
  }

  .condiciones-generales-lnk{
    @include neg;
    //line-height: 62px;
    line-height: 83px;
  }

  .menu a,
  .social a{
    @include neg;
  }

  .menu-container {
    position: relative;

    .menu {
      width: 48%;
      margin-right: 4%;
      float: left;

      &:last-child {
        margin-right: 0;
      }

      li {
        padding: 10px 0;
        line-height: 20px;
        a {
        }
      }

      @include responsive($xs) {
        width: 100%;
        float: none;
        margin: 0;
        text-align: center;
        @include xregularSize;
      }
    }
  }

  .logo {
    @include image-replace;
    @include image-replace-src('../img/footer/lg_proservice_footer.png', 676px, 414px);
    background-size: contain;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    max-width: 338px;
    max-height: 212px;

    @include responsive($xs) {
      @include image-replace-src('../img/footer/lg_proservice_footer_xs.png', 456px / 2, 220px / 2);
      width: 60%;
      height: 0;
      padding-bottom: 30%;
      max-width: 456px / 2;
      max-height: 220px / 2;
      margin: 0 auto;
      opacity: 1;
      transform: initial;
    }
  }

  .contact-button {
    //margin-top: -204px;
    margin-top: 5px;
    margin-bottom: 10px;

    @include responsive($xs) {
      @include xregularSize;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .social {
    margin-top: 50px;

    @include responsive($xs) {
      text-align: center;
      margin-top: 35px;
    }
  }

  &.footer-m-padding {
    padding: 50px 0;
  }
}

.footer-min2 {
  background-color: $color-gray;
  text-align: center;
  padding: 30px;
  border-bottom: 4px solid $color-yellow;

  @include headingText;
  @include lregularSize;

  a {
    font-weight: bold;
  }
}