.ssplit-overlay {
  position: absolute;
  z-index: $z-image-frame-over;
  @include largeSize;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-white-real;
}

.ssplit-overlay-bottomrightdiag {
  bottom: 50px;
  right: 140px;

  @include responsive($xs) {
    bottom: 25px;
    right: 50px;
  }
}