@mixin modal-overlay {
  content: " ";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: $z-modal-overlay;
}

body.modal-visible {
  overflow: hidden;
  &:before {
    @include modal-overlay;
  }
}

$modal-width: 430px;

.modal {
  position: fixed;
  z-index: $z-modal;
  width: $modal-width;
  padding: 50px;
  background-color: $color-white;
  top: 30%;
  left: 50%;
  margin-left: $modal-width * -0.5;

  @include responsive($xs) {
    width: 90%;
    margin: 0 5%;
    left: auto;
    padding: 40px 40px 40px 30px;
  }

  .button {
    margin-bottom: -15px;
    margin-top: 25px;
  }

  .close {
    position: absolute;
    top: 17px;
    right: 16px;
    display: block;
    width: 22px;
    height: 22px;
    background-image: url('../img/widgets/ic_xclose.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
