.accordion {
  height: 470px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;

  @include responsive($xs) {
    height: auto;
    white-space: normal;
    font-size: inherit;
  }

  .accordion-item {
    display: inline-block;
    position: relative;
    width: 25%;
    height: 100%;
    transform: skew(-13.5deg);
    overflow: hidden;
    padding: 0 57px;
    background-color: $color-white;
    transition: margin-left 0.4s, margin-right 0.4s;

    @include responsive($xs) {
      display: block;
      width: 100%;
      height: auto;
      transform: none;
      padding: 0;

      &:nth-child(odd) {
        background-color: rgba(234, 234, 234, 0.8);
      }

      &:nth-child(even) {
        background-color: rgba(245, 245, 245, 0.8);
      }
    }

    &:first-child {
      width: 30%;
      margin-left: -5%;

      @include responsive($xs) {
        width: 100%;
        margin-left: 0;
      }
    }

    &:last-child {
      width: 30%;
      margin-right: -5%;
      @include responsive($xs) {
        width: 100%;
        margin-right: 0;
      }
    }

    .accordion-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 165%;
      height: 100%;
      padding: 0 57px;
      margin-left: -114px;
      background-size: cover;
      transform: skew(13.5deg);
      opacity: 1;
      transition: opacity 0.2s, margin-left 0.4s;

      @include responsive($xs) {
        display: none;
      }
    }
    .accordion-content {
      position: absolute;
      top: 0;
      left: 20%;
      height: 470px;
      width: 90%;
      padding: 10%;
      @include regularSize;
      transform: skew(13.5deg);
      white-space: normal;
      opacity: 0;
      transition: opacity 0.2s;

      .large {
        @include headingText;
        font-weight: normal;
        @include medSize;
        margin-bottom: 22px;
      }

      @include responsive($xs) {
        position: relative;
        top: auto;
        left: auto;
        height: auto;
        width: 100%;
        transform: none;
        opacity: 1;
        padding: 20px 80px 20px 20px;
        text-transform: uppercase;

        .large {
          display: none
        }

        p {
          margin-bottom: 0;
        }
      }
    }

    &:last-child {
      .accordion-content {
        margin-left: -10%;

        @include responsive($xs) {
          margin-left: 0;
        }
      }
    }

    .accordion-content-centered {
      height: 470px;
      display: table-cell;
      vertical-align: middle;

      @include responsive($xs) {
        height: auto;
        display: block;
      }
    }

    &.selected-before {
      margin-right: -5%;
    }
    &.selected-after {
      margin-right: -5%;
    }
    &:last-child.selected-after {
      margin-right: -5%;
      margin-left: 0;
    }
    &.selected {
      margin-right: 10%;
      .accordion-image {
        opacity: 0;
      }
      .accordion-content {
        opacity: 1;
      }
    }
  }
}