$side_menu-width: 422px;
$side_menu-padding-top: 120px;
$side_menu-padding-bottom: 120px;
$side_menu-item-padding_x: 74px;
$side_menu-item-padding_y: 20px;

$side_menu-item-padding_x-xs: 20px;

.side_menu {
  width: $side_menu-width;
  max-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: $z-side_menu;
  top: 0;
  left: 0;
  margin-left: -1 * $side_menu-width;
  background-color: $color-gray-light;
  padding: $side_menu-padding-top 0 $side_menu-padding-bottom;
  transition: margin-left 0.5s, padding-top 0.2s;

  &.side_menu-visible {
    margin-left: 0;
  }

  a.side_menu-close {
    @include image-replace;
    @include image-replace-src('../img/side_menu/ic_close.png', 33px, 33px);
    background-size: contain;
    top: 40px;
    margin-left: $side_menu-item-padding_x;
    margin-top: -80px;
    margin-bottom: 40px;

    @include responsive($xs) {
      margin-top: -90px;
      margin-left: $side_menu-item-padding_x-xs;
    }
  }

  ul {
    li {
      a {
        @include sideMenuText;
        display: block;
        padding: $side_menu-item-padding_y $side_menu-item-padding_x;
        color: $color-black;
        background-color: $color-gray-light;
        &:hover {
          background-color: $color-white;
          text-decoration: none;
        }

        @include responsive($xs) {
          padding: $side_menu-item-padding_y $side_menu-item-padding_x-xs;
        }
      }
    }
  }
}