@mixin arrowunder($color) {

  &:before {
    content: " ";
    display: block;
    position: absolute;
    z-index: -1;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background-color: $color;
    bottom: -25px;
    left: 50%;
    margin-left: -25px;
    transition: bottom 0.2s;
  }
}