$slider-height: 441px;
$slider-height-xs: 555px;

.section-slider {
  width: 100%;
  height: $slider-height;
  overflow: hidden;

  @include responsive($xs) {
    height: $slider-height-xs;
  }

  .cycle-slideshow {
    width: 100%;
    height: $slider-height;

    @include responsive($xs) {
      height: $slider-height-xs;
    }

    .slide {
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
    }

    .cycle-pager {
      color: white;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 500;
      text-align: center;
      span {
        display: inline-block;
        cursor: pointer;
        font-size: 50px;
        margin-right: 10px;

        &.cycle-pager-active {
          color: $color-yellow-light;
        }
      }
    }
  }
}