.social {
  li {
    display: inline-block;
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }

    a {
      display: block;
    }
  }
}

.social_twitter {
  @include image-replace;
  @include image-replace-src('../img/social/ic_twitter.png', 35px, 35px);
  background-size: contain;
}

.social_linkedin {
  @include image-replace;
  @include image-replace-src('../img/social/ic_linkedin.png', 41px, 35px);
  background-size: contain;
  margin-right: -7px;
}

.social_youtube {
  @include image-replace;
  @include image-replace-src('../img/social/ic_youtube.png', 50px, 35px);
  background-size: contain;
}

.social_facebook {
  @include image-replace;
  @include image-replace-src('../img/social/ic_facebook.png', 35px, 35px);
  background-size: contain;
}