.hiclist {
  overflow: hidden;

  li {
    float: left;
    background-size: 102px 102px;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 140px;
    text-align: center;

    @include responsive($xs) {
      float: none;
      padding-top: 110px;
      padding-bottom: 30px;
    }
  }
}

.hiclist-6 {
  li {
    margin: 0 1%;
    width: 14.43%;

    &:first-child {
      margin-left: 1.5%;
    }
    &:last-child {
      margin-right: 1.5%;
    }

    @include responsive($xs) {
      width: 100%;
      margin: 0;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.hiclist-5 {
  li {
    margin: 0 2.7%;
    width: 14.43%;

    &:first-child {
      margin-left: 3%;
    }
    &:last-child {
      margin-right: 3%;
    }

    @include responsive($xs) {
      width: 100%;
      margin: 0;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.hiclist-2 {
  li {
    margin: 0 5%;
    width: 25%;

    &:first-child {
      margin-left: 20%;
    }
    &:last-child {
      margin-right: 20%;
    }

    @include responsive($xs) {
      width: 100%;
      margin: 0;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}