.noticia-teaser {
  margin-bottom: 20px;
  position: relative;

  & > a {
    display: block;
    height: 0;
    padding-bottom: 85%;
    overflow: hidden;

    .noticia-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
    }

    .noticia-data {
      position: absolute;
      bottom: 0;
      @include neg;
      padding: 20px;
    }
    .noticia-title {
      @include headingText;
      @include medSize;
      margin-bottom: 5px;
    }

    .noticia-date {
      color: $color-yellow;
      font-weight: bold;
      @include regularSize;
    }
  }
}

.noticia-teaser-grid {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
  overflow: hidden;

  @include responsive($xs) {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .col-3 {
    @include omega(4n);
  }
}

.noticia-teaser-grid,
.noticia-teaser-list {
  .noticia-teaser-b {
    display: block;
    margin-bottom: 30px;
    &:hover {
      text-decoration: none;
    }
    .noticia-thumb {
      width: 100%;
      height: 0;
      padding: 0 0 85%;
      background-size: cover;
      background-position: center center;
      margin-bottom: 10px;
    }

    .noticia-titulo {
      @include headingText;
      @include lregularSize;
      font-weight: bold;
      text-transform: uppercase;
      color: $color-yellow;
      margin-bottom: 10px;
    }

    .noticia-teaser-text {
      margin-bottom: 10px;
    }
  }
}

.noticia-tags-title {

  color: $color-yellow;
  margin-bottom: 10px;
}

.noticia-tags-list {
  li {
    a {
      display: inline-block;
      border: 1px solid $color-yellow;
      padding: 2px 8px;
      margin-bottom: 10px;

      &:hover {
        text-decoration: none;
        background-color: $color-gray;
      }
    }
  }
}

.noticia-relacionadas-title {
  @include headingText;
  @include medSize;
  font-weight: normal;
  margin-top: 0;
}

.noticia-header {
  height: 320px;
  position: relative;
  background-color: $color-black;
  margin-bottom: 30px;

  .noticia-image {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
  }

  .noticia-header-data {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    background-color: rgba(0,0,0,0.6);

    .noticia-fecha {
      @include lregularSize;
      color: $color-white;
      margin-bottom: 4px;
    }

    .noticia-titulo {
      @include headingText;
      @include medSize;
      font-weight: bold;
      text-transform: uppercase;
      color: $color-yellow;
    }
  }
}

.noticia-datos {
  @include compactSize;
  margin: 30px 0;
}

.noticia-cuerpo {
  b, strong {
    color: $color-yellow;
  }
}

.search_result-header {
  margin-top: 80px;
  margin-bottom: -40px;

  @include responsive($xs) {
    margin-top: 30px;
    margin-bottom: -10px;
  }

  .search_result-title {
    @include headingText;
    @include xmedSize;
    font-weight: bold;

    @include responsive($xs) {
      @include lregularSize;
    }
  }

  .search_result-terms {
    color: $color-yellow;
  }
}