$navbar-height: 117px;
$navbar-height-xs: 80px;

.header {
  height: $navbar-height;

  @include responsive($xs) {
    height: $navbar-height-xs;
  }
}

.navbar {
  position: relative;
  width: 100%;
  height: $navbar-height;
  background-color: $color-white;
  box-shadow: 0 -20px 30px 20px rgba(0,0,0,0.1);

  @include responsive($xs) {
    height: $navbar-height-xs;
  }

  &.navbar-sticky {
    position: fixed;
    z-index: $z-navbar;
    top: 0;
  }

  .side_menu-trigger {
    @include image-replace;
    @include image-replace-src('../img/navbar/ic_hamburger.png', 30px, 27px);
    background-size: 30px 27px;
    background-position: center center;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 28px;
    left: 0px;
    background-color: $color-white;
    &:hover {
      background-color: $color-gray-light;
    }

    @include responsive($xs) {
      width: $navbar-height-xs;
      height: $navbar-height-xs;
      top: 0;
      background-size: 40px 36px;
    }
  }

  .logo {
    @include image-replace;
    @include image-replace-src('../img/navbar/lg_proservice.png', 171px, 82px);
    background-size: contain;
    position: absolute;
    top: 20px;
    left: 86px;

    @include responsive($xs) {
      display: none;
    }
  }

  h1 {
    @include medSize;
    line-height: $navbar-height;
    background-image: url('../img/navbar/ms_title_separator.png');
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 28px 64px;
    padding-left: 40px;
    margin-left: 250px;

    @include responsive($xs) {
      margin-left: 60px;
      padding-left: 0;
      background-image: none;
      line-height: $navbar-height-xs;
      text-align: right;
      margin-right: 0;
    }
  }

  .menu-utility {
    position: absolute;
    right: 0px;
    top: 48px;
    li {
      display: inline-block;
      margin-left: 35px;
      a {
        display: block;
        padding: 5px 10px;
        &:hover {
          background-color: $color-gray-light;
          text-decoration: none;
        }
      }
    }

    @include responsive($xs) {
      display: none;
    }
  }
}

.page- .navbar .logo {
  @include responsive($xs) {
    display: block;
    @include image-replace-src('../img/navbar/lg_proservice_mobile.png', 254px / 2, 58px / 2);
    left: auto;
    right: 20px;
    top: 25px;
  }
}

.header-min {
  background-color: $color-black-real;
  height: 250px;
  padding-top: 40px;

  @include responsive($sm-only) {
    height: 150px;
    padding-top: 20px;
  }

  @include responsive($xs) {
    height: 375px;
    padding-top: 100px;
  }

  .logo {
    @include image-replace;
    @include image-replace-src('../img/footer/lg_proservice_footer.png', 676px, 414px);
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 150px;
    max-width: 250px;
    margin: 0 auto;

    @include responsive($sm-only) {
      height: 100px;
    }

    @include responsive($xs) {
      max-width: 250px;
      margin: 0 auto;
    }
  }
}

.header-min2 {
  background-color: $color-gray;
  text-align: center;
  padding: 30px;
  border-bottom: 4px solid $color-yellow;
}