.duo {
  .container, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
  .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    height: 100%;
  }

  .col-6 {
    width: 50%;
    margin: 0;
    @include responsive($xs) {
      width: 100%;
    }
  }

  .container {
    padding: 0;
    overflow: hidden;
  }

  &.overflow {
    .container {
      overflow: visible;
    }
  }

  .duo-vcenter-wrapper {
    position: relative;
    display: table;
    width: 100%;
  }

  .duo-vtop,
  .duo-vcenter {
    position: relative;
    z-index: $z-top-text;
    width: auto;
    margin: 0 auto;
    height: 470px;
    padding: 30px 20% 0;
    display: table-cell;
    margin-left: 30px;
    @include lregularSize;

    @include responsive($xs) {
      height: auto;
      width: 80%;
      display: block;
      padding: 10% 0;
      margin-left: auto;
    }

    .large {
      @include headingText;
      @include slargeSize;
      margin-bottom: 20px;

      @include responsive($xs) {
        @include xmedSize;
      }
    }

    .arrow {
      margin: 40px auto;
    }
  }

  .duo-vcenter {
    vertical-align: middle;
  }

  .duo-vtop {
    vertical-align: top;
    padding-top: 20%;
  }

  .duo-vtop-short {
    padding-top: 10%;
  }

  .duo-vtop-centered {
    padding: 10% 5%;
    text-align: center;
    @include responsive($xs) {
      width: 90%;
    }
    .button {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .duo-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: content-box;

    @include responsive($xs) {
      height: 320px;
    }

    &.duo-image-contain {
      background-size: contain;
      background-position: center center;
      padding: 0;
      margin: 0;
    }

    &.duo-image-rightanchor {
      background-position: right top;
    }

    &.duo-image-centeranchor {
      background-position: center center;
    }
  }
}

.section-large,
.section-xlarge {
  &.duo {

    .duo-vtop,
    .duo-vcenter {
      height: 904px;

      @include responsive($xs) {
        height: auto;
      }
    }

    .duo-image {

      &.duo-image-rightanchor {
        padding: 0;
        margin: 0;
      }
    }
  }
}

.section-xlarge {
  .duo-vtop,
  .duo-vcenter {
    height: 1100px;

    @include responsive($xs) {
      height: auto;
    }
  }
}

.section-med {

}

.section-black.duo {
  .duo-vcenter {
    .large {
      color: $color-yellow;
    }
  }
}

.section-yellow_white.duo {
  .duo-vcenter {
    .large {
      color: $color-yellow;
    }
  }
}

.section-yellow_black.duo {
  .duo-vcenter {
    .large {
      color: $color-yellow;
    }
  }
}