.button {
  width: 100%;
  max-width: 200px;
  display: block;
  border: none;
  border-radius: 30px;
  color: $color-gray-dark;
  background-color: $color-yellow;
  @include regularSize;
  font-weight: bold;
  text-align: center;
  padding: 6px 0;

  &:hover {
    text-decoration: none;
    color: $color-gray-dark;
    background-color: lighten($color-yellow, 5%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0px 2px #ab8704;
  }

  &.disabled {
    opacity: 0.7;
    color: #797979;
  }

  @include responsive($xs) {
    max-width: 100%;
    padding: 10px 0;
  }
}

.button-secondary {
  color: $color-white;
}