.lg {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.lg-recambios_originales {
  background-image: url('../img/content/lg_recambios_originales.png');
  width: 287px;
  height: 65px;
}