.ppro-data-image {
  width: 50%;
  height: 0;
  padding-bottom: 20%;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @include responsive($xs) {
    width: 100%;
    float: none;
    padding-bottom: 43%;
  }
}

.ppro-data-name {
  @include headingText;
  @include slargeSize;
  margin-bottom: 8px;
}

.ppro-data-address {
  @include medSize;
}

.ppro-data-icons {
  margin-top: -10px;
}

.ppro-data-contact_name {
  @include xmedSize;
  font-weight: bold;
  margin-bottom: 15px;
}

.ppro-data-contact_position {
  @include medSize;
  margin-bottom: 15px;
  margin-top: -15px;
}

.ppro-data-phone {
  @include largeSize;
  margin-bottom: 4px;
}

.ppro-data-email {

}

.col-ppro-data {
  position: relative;
  &:after {
    content: " ";
    display: block;
    position: absolute;
    z-index: $z-image-overlay;
    width: 25%;
    height: 0;
    padding-bottom: 32%;
    background-image: url('../img/widgets/ms_map_pin.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: -20%;
    left: 50%;
    margin-left: -10%;

    @include responsive($xs) {
      display: none;
    }
  }
}

.ppro-search-title {
  position: relative;
  background-color: $color-gray-light;
  width: 25%;
  height: 65px;
  @include largeSize;
  line-height: 65px;
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  margin-left: 4%;
  padding: 2px 28px;

  @include arrowunder($color-gray-light);

  @include responsive($xs) {
    width: 75%;
  }

  .close {
    width: 25px;
    height: 25px;
    display: block;
    background-image: url('../img/widgets/ic_xclose.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    right: 22px;
    top: 21px;
  }
}

.section-ppro-data {
  position: relative;
  @include arrowunder($color-yellow);
  &:before {
    left: 17%;
  }
}

$ppro-map-overlay-xs-height: 50px;

.ppro-map {
  width: 100%;
  position: relative;

  @include responsive($xs) {
    padding-top: $ppro-map-overlay-xs-height;
  }

  .ppro-map-overlay-title {
    @include headingText;
    @include largeSize;
    font-weight: bold;
    margin-bottom: 25px;

    @include responsive($xs) {
      display: none;
    }
  }

  .ppro-map-image {
    width: 100%;
    height: 0;
    padding-bottom: 86.9%;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: $color-gray;
  }
}

.ppro-ic-delivery {
  background-image: url("../img/widgets/ic_delivery.png");
  width: 40px;
  height: 40px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  margin: -5px 11px 11px 0;
}

.ppro-map-overlay {
  background-color: $color-white;
  position: absolute;
  padding: 30px;
  top: 30px;
  left: 30px;
  width: 270px;

  @include responsive($xs) {
    width: 100%;
    top: 0;
    left: auto;
    height: $ppro-map-overlay-xs-height;
    overflow: hidden;
    padding: 10px 0;
  }
}

.ppro-map-loading {
  height: 100px;
  background-color: $color-gray;
  background-image: url('../img/widgets/an_loader.svg');
  background-size: 50px 50px;
  background-position: center center;
  background-repeat: no-repeat;

  @include responsive($xs) {
    box-sizing: content-box;
    padding-bottom: $ppro-map-overlay-xs-height + 10px;
    margin-top: -1 * ($ppro-map-overlay-xs-height + 10px);
  }
}