ul.selector_buttons {
  li {
    display: inline-block;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }

    @include responsive($xs) {
      margin-bottom: 8px;
    }

    a {
      display: block;
      background-color: $color-black;
      @include neg;
      color: $color-white;
      @include compactSize;
      font-weight: bold;
      padding: 5px 20px;
      &:hover {
        text-decoration: none;
        background-color: $color-gray-dark;
      }

      @include responsive($xs) {
        padding: 10px 20px;
      }
    }

    &.active {
      a {
        background-color: $color-yellow;
        color: $color-black;
      }
    }
  }
}