.seesaw {
  width: 100%;
  height: 100%;
  overflow: hidden;
  &:before {
    content: " ";
    display: block;
    width: 50%;
    height: 100%;
    background-color: $color-yellow;
    position: absolute;
    left: 0;
    top: 0;
    transform: skew(0deg);
    transition: transform 0.4s;

    @include responsive($xs) {
      display: none;
    }
  }

  &.seesaw-over-left {
    &:before {
      transform: skew(-13.5deg);
    }
  }

  &.seesaw-over-right {
    &:before {
      transform: skew(13.5deg);
    }
  }

  .seesaw-left,
  .seesaw-right {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;

    @include responsive($xs) {
      height: auto;
      width: 100%;
      position: relative;
      top: auto;
      padding: 40px 0;
    }
  }

  .seesaw-left {
    left: 0;
    @include responsive($xs) {
      left: auto;
      background-color: $color-yellow;
    }
  }

  .seesaw-right {
    left: 50%;
    @include responsive($xs) {
      left: auto;
      background-color: $color-black;
    }
  }
}