form.ps-form {
  margin: 35px 0 50px;

  @include responsive($xs) {
    margin: 20px 0 40px;
  }

  input[type=tel],
  input[type=email],
  input[type=text] {
    @include xregularSize;
    border: 1px solid $color-yellow;
    width: 285px;
    max-width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 26px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    padding: 0 28px;

    &:focus {
      outline: none;
      box-shadow: 0 0 5px 0px $color-yellow;
    }

    @include responsive($xs) {
      @include regularSize;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  input[type=radio] {
    height: 50px;
    width: 20px;
    display: inline-block;
  }

  select {
    width: 78%;
    @include xregularSize;
    border: 1px solid $color-yellow;
    margin-bottom: 15px;
    height: 46px;
    margin-top: 5px;
    color: $color-gray-placeholder;
    background-color: $color-white;

    @include responsive($xs) {
      @include regularSize;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  textarea {
    @include xregularSize;
    border: 1px solid $color-yellow;
    width: 285px;
    max-width: 100%;
    border-radius: 26px;
    margin-bottom: 10px;
    display: block;
    padding: 10px 28px;
  }

  .button, input {
    margin-left: auto;
    margin-right: auto;
    @include responsive($xs) {
      @include xregularSize;
    }
  }

  a.button {
    margin-top: 20px;
  }

  .loading {
    display: inline-block;
    width: 25px;
    height: 29px;
    background-image: url('../img/widgets/an_loader_s.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: -9px;
    margin-right: -34px;
    margin-left: 5px;

    @include responsive($xs) {
      width: 50px;
      height: 36px;
      margin: 5px 0;
    }
  }

  label {
    margin-bottom: 10px;
    color: $color-gray-dark;
  }

  &.align_left {
    input[type=tel],
    input[type=email],
    input[type=text],
    textarea {
      text-align: left;
    }
  }

  .legalCheckbox {
    text-align: left;
    padding-left: 5px;
    margin-top: 50px;
  }

  .actions {
    width: 100%;
    text-align: center;
    .button {
      display: inline-block;
    }

    .button-full {
      width: 100%;
      max-width: 100%;
      height: 50px;
      display: block;
    }
  }

  &.full_width {
    input[type=text],
    input[type=email],
    input[type=tel],
    textarea, label {
      display: block;
      width: 80%;
      margin-left: auto;
      margin-right: auto;

      @include responsive($xs) {
        width: 100%;
      }
    }

    label > input {
      display: inline-block;
      width: auto;
      margin-right: 10px;
    }

    input[type=text].input-small,
    input[type=email].input-small,
    input[type=tel].input-small {
      width: 40%;
      margin-left: 10%;
      margin-right: 10%;
      @include responsive($xs) {
        width: 50%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  $label-area-width: 33%;
  $input-area-width: 50%;

  $label-area-width-sm: 40%;
  $input-area-width-sm: 60%;

  .form-field {
    width: 100%;
    line-height: 50px;
    min-height: 50px;
    @include clearfix;

    label {
      @include xregularSize;
      line-height: 22px;
      margin-top: 14px;
      display: block;
      text-align: right;
      float: left;
      width: $label-area-width;
      padding-right: 30px;

      &.label-2-line {
        margin-top: 0;
      }

      @include responsive($sm-only) {
        width: $label-area-width-sm;
      }

      @include responsive($xs) {
        display: none;
        text-align: left;
      }
    }

    input[type=text],
    input[type=email],
    input[type=tel] {
      width: $input-area-width;
      float: left;
      @include placeholder {
        color: white;

        @include responsive($xs) {
          color: $color-gray-placeholder;
        }
      }

      @include responsive($xs) {
        width: 100%;
        @include xregularSize;
      }

      @include responsive($sm-only) {
        width: $input-area-width-sm;
      }
    }

    input[type=radio],
    input[type=checkbox] {
      display: block;
      float: left;
      margin-right: 6px;
    }

    input[type=checkbox] {
      height: 50px;
      width: 20px;
    }
  }

  .form-field-radios {
    @include xregularSize;
    line-height: 36px;
    margin-left: $label-area-width;
    margin-top: 10px;

    @include responsive($sm-only) {
      margin-left: $label-area-width-sm;
    }

    @include responsive($xs) {
      margin-left: 26px;
      margin-top: 0;
    }
    label {
      margin-left: -1 * $label-area-width;
      margin-top: 4px;

      @include responsive($sm-only) {
        margin-left: -1 * $label-area-width-sm;
      }

      @include responsive($xs) {
        display: block;
        margin-left: 0;
        width: 100%;
      }
    }
    input[type=radio] {
      height: 36px;
    }
    input[type=text] {
      margin-top: 7px;
      @include responsive($xs) {
        margin-left: -26px;
      }
    }
  }

  .form-field-rightcol {
    margin-left: $label-area-width;

    @include responsive($sm-only) {
      margin-left: $label-area-width-sm;
    }

    @include responsive($xs) {
      margin-left: 0;
    }
  }

  .form-field-actions {
    margin-top: 15px;

    @include responsive($sm-only) {
      border-top: 1px solid $color-black;
      padding-top: 40px;
    }

    .button-full {
      @include xregularSize;
      margin-left: $label-area-width;
      max-width: $input-area-width;

      @include responsive($sm-only) {
        margin-left: auto;
        margin-right: auto;
        max-width: 70%;
      }

      @include responsive($xs) {
        margin-left: auto;
        max-width: 100%;
      }
    }

    .button-smalltext {
      @include responsive($xs);
    }
  }
}

.form-header {
  border-bottom: 1px solid $color-black;
  text-align: center;
  margin: 40px 0;
  h1, .large {
    @include headingText;
    @include xmedSize;
    margin: 20px auto;
    max-width: 560px;
    font-weight: bold;
  }

  .large {
    @include responsive($sm-only) {
      max-width: 100%;
      @include medSize;
    }
    @include responsive($xs) {
      @include lregularSize;
    }
  }
}