.diagframe {

  @include responsive($md) {
    position: relative;
    overflow: hidden;

    @mixin diagonal {
      content: " ";
      display: block;
      height: 600px;
      width: 150px;
      background-color: $color-yellow;
      position: absolute;
    }

    &:before {
      @include diagonal;
      top: -30px;
      left: -110px;
      transform: rotate(13.5deg);
    }

    &:after {
      @include diagonal;
      bottom: -30px;
      right: -110px;
      transform: rotate(13.5deg)
    }
  }
}