.sliding_door {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  .sliding_door-under {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      display: block;
      width: auto;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .sliding_door-left {
    position: absolute;
    left: -50%;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: 0;
    transition: margin-left 0.4s;
    @include transform(skew(-13.5deg, 0deg));
  }

  .sliding_door-right {
    position: absolute;
    right: -50%;
    top: 0;
    width: 100%;
    height: 100%;
    margin-right: 0;
    transition: margin-right 0.4s;
    @include transform(skew(-13.5deg, 0deg));
  }

  &.aos-animate[data-aos='sliding_door-open'],
  &.sliding_door-open {
    .sliding_door-left {
      margin-left: -200px;
    }

    .sliding_door-right {
      margin-right: -200px;
    }
  }
}