.ic {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  width: 62px;
  height: 62px;
}

.ic-large {
  width: 102px;
  height: 102px;
}

.ic-med {
  width: 82px;
  height: 82px;
}

.ic-small {
  width: 51px;
  height: 51px;
}

.ic-award { background-image: url('../img/icons/ic_award.png'); }
.ic-gear { background-image: url('../img/icons/ic_gear.png'); }
.ic-delivery { background-image: url('../img/icons/ic_delivery.png'); }
.ic-barrel { background-image: url('../img/icons/ic_barrel.png'); }
.ic-home { background-image: url('../img/icons/ic_home.png'); }
.ic-wrench_solo { background-image: url('../img/icons/ic_wrench_solo.png'); }
.ic-calendar { background-image: url('../img/icons/ic_calendar.png'); }
.ic-logo { background-image: url('../img/icons/ic_logo.png'); }
.ic-world { background-image: url('../img/icons/ic_world.png'); }
.ic-checklist { background-image: url('../img/icons/ic_checklist.png'); }
.ic-operator { background-image: url('../img/icons/ic_operator.png'); }
.ic-wrench { background-image: url('../img/icons/ic_wrench.png'); }
.ic-clipboard { background-image: url('../img/icons/ic_clipboard.png'); }
.ic-screen { background-image: url('../img/icons/ic_screen.png'); }
.ic-gas { background-image: url('../img/icons/ic_gas.png'); }
.ic-tie { background-image: url('../img/icons/ic_tie.png'); }
.ic-customer { background-image: url('../img/icons/ic_customer.png'); }
.ic-map { background-image: url('../img/icons/ic_map.png'); }
.ic-workshop { background-image: url('../img/icons/ic_workshop.png'); }
.ic-suitcase { background-image: url('../img/icons/ic_suitcase.png'); }
.ic-starman { background-image: url('../img/icons/ic_starman.png'); }
.ic-desk { background-image: url('../img/icons/ic_desk.png'); }
.ic-devices { background-image: url('../img/icons/ic_devices.png'); }
.ic-cycle { background-image: url('../img/icons/ic_cycle.png'); }
.ic-time { background-image: url('../img/icons/ic_time.png'); }
.ic-person { background-image: url('../img/icons/ic_person.png'); }
.ic-phone { background-image: url('../img/icons/ic_phone.png'); }
.ic-envelope { background-image: url('../img/icons/ic_envelope.png'); }
.ic-signup { background-image: url('../img/icons/ic_signup.png'); }
.ic-triangle { background-image: url('../img/icons/ic_triangle.png'); }