.arrow {
  @include image-replace;
  @include image-replace-src('../img/widgets/arrow_yellow.png', 106px / 2, 58px / 2);
  background-size: contain;

  &.arrow-text {
    text-indent: 0;
    width: auto;
    background-position: right 0;
    display: inline-block;
    padding-right: 70px;
    text-decoration: underline;
    @include regularSize;
    line-height: 29px;
    color: $color-gray-dark;
  }
}

.arrow-yellow {
  @include image-replace-src('../img/widgets/arrow_yellow.png', 106px / 2, 58px / 2);
}

.arrow-white {
  @include image-replace-src('../img/widgets/arrow_white.png', 106px / 2, 58px / 2);
}

.arrow-black {
  @include image-replace-src('../img/widgets/arrow_black.png', 106px / 2, 58px / 2);
}

.center-arrow {
  width: 100%;
  text-align: center;
  .arrow {
    display: inline-block;
  }
}