.section-canal_youtube {
  width: 100%;
  height: 470px;
  background: $color-white;

  .container {
    padding: 0;
    overflow: hidden;
  }
}

.canal_youtube-text-container {
  display: table;
  margin: 0 auto;
  padding-left: 30px;

  @include responsive($xs) {
    padding-left: 0;
  }
}
.canal_youtube-text {
  height: 470px;
  padding-top: 30px;
  display: table-cell;
  vertical-align: middle;
  margin-left: 30px;
  @include headingText;
  @include largeSize;

  strong {
    font-weight: bold;
  }

  @include responsive($xs) {
    height: auto;
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .arrow {
    margin-top: 50px;

    @include responsive($xs) {
      margin-top: 25px;
    }
  }
}

.canal_youtube-bg {
  width: 100%;
  height: 470px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: right center;
  background-image: url("../img/content/canal_youtube.jpg");

  @include responsive($xs) {
    height: 0;
    padding-bottom: 70%;
    background-image: url("../img/content/canal_youtube_xs.jpg");
  }

  &:after {
    content: " ";
    display: block;
    height: 100%;
    width: 100%;
    @include transform(skew(-13.5deg, 0deg));
    position: absolute;
    left: -100%;
    top: 0;
    margin-left: 78px;
    background-color: $color-white;

    @include responsive($xs) {
      display: none;
    }
  }
}

.canal_youtube-button {
  @include image-replace;
  @include image-replace-src('../img/widgets/btn_canal_youtube.png', 278px / 2, 196px / 2);
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1 * 196px / 4  0  0  -1 * 278px / 4;
}

.canal_youtube-logo-float {
  @include image-replace;
  @include image-replace-src('../img/social/ic_youtube_lg.png', 78px, 54px);
  background-size: contain;
  float: right;
  margin: 4px 15px 0;

  @include responsive($xs) {
    float: left;
    margin: 0 10px 20px -15px;
  }
}