.section-acerca-pro_a_pro {

   @include responsive($xs) {
     height: 600px;
     .col-4, .col-6 {
       position: absolute;
       top: 0;
       left: 0;
       float: none;
     }
     .col-4 {
       background-color: transparent;
       background-position: -90px 0;
       padding-top: 200px;
     }

     .ssplit-image {
       height: 100%;
       background-color: $color-black-real;
       background-position: -280px 0;
     }

     .col-acerca-pro_a_pro-image {
       &:after {
         content: " ";
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: $color-black;
         opacity: 0.5;
       }
     }
   }

  .ssplit-image.diag-left {
    &:before {
      margin-left: 11.4%;
    }
  }

  .pro_a_pro-a,
  .pro_a_pro-de {
    @include image-replace;
    position: absolute;
    z-index: $z-image-frame-over;
  }

  .pro_a_pro-de {
    @include image-replace-src('../img/content/pro_a_pro_left_yellow.png', 472px / 2, 46px / 2);
    background-size: contain;
    bottom: 120px;
    left: 35.4%;
    margin-left: -189px;

    @include responsive($xs) {
      background-image: url('../img/content/pro_a_pro_left_white.png');
      top: 190px;;
      left: 35px;
      margin-left: 0;
    }
  }

  .pro_a_pro-a {
    @include image-replace-src('../img/content/pro_a_pro_right_black.png', 440px / 2, 46px / 2);
    background-size: contain;
    bottom: 120px;
    right: 27.5%;
    margin-right: -220px;

    @include responsive($xs) {
      background-image: url('../img/content/pro_a_pro_right.png');
      top: 220px;
      right: 35px;
      margin-right: 0;
    }
  }
}
