.section-ultimas_noticias {
  background-color: $color-white;
  padding-bottom: 30px;

  h2 {
    @include largeSize;
    font-weight: normal;
    text-align: center;
    margin: 20px 0;
  }
}

.page-proservice, page-noticias-detalle {
  .section-ultimas_noticias {
    background-color: $color-yellow;
  }
}