.section-seesaw {
  height: 470px;
  background: linear-gradient(90deg, $color-yellow 25%, $color-black-real 25%);
  overflow: hidden;

  @include responsive($xs) {
    height: auto;
    background: none;

    .container {
      padding: 0;
    }
  }

  .seesaw {
    height: 470px;
    @include responsive($xs) {
      height: auto;
    }
  }

  .seesaw-left-text,
  .seesaw-right-text {
    height: 470px;
    padding: 15%;
    display: table-cell;
    vertical-align: middle;
    @include medSize;
    @include headingText;

    @include responsive($xs) {
      @include xregularSize;
      height: auto;
      padding: 20px 40px;
    }
  }

  .seesaw-left-text,
  .seesaw-right-text {
    .large {
      @include largeSize;
      margin-bottom: 20px;

      @include responsive($xs) {
        @include xmedSize;
      }
    }
  }

  .seesaw-right-text {
    color: $color-yellow;
  }

  .center-arrow {
    position: absolute;
    bottom: 15%;
    left: 0;

    @include responsive($xs) {
      position: relative;
      bottom: auto;
      left: auto;
    }
  }

  .arrow {
    transition: opacity 0.4s, margin-left 0.4s;
    opacity: 0;
    margin-left: -20px;

    @include responsive($xs) {
      opacity: 1;
    }
  }

  .seesaw-over-left {
    .seesaw-left {
      .arrow {
        opacity: 1;
        margin-left: 0;
      }
    }
  }

  .seesaw-over-right {
    .seesaw-right {
      .arrow {
        opacity: 1;
        margin-left: 0;
      }
    }
  }
}
