.section-mas_info {

  overflow: hidden;
  padding-bottom: 30px;
  background-color: $color-white;

  @include responsive($xs) {
    background-image: url('../img/content/mas_info_mapa_bg.png');
    background-position: right -45px;
    background-repeat: no-repeat;
  }

  .mas_info-text {
    width: 90%;
    margin-left: 10%;

    @include responsive($xs) {
      width: 90%;
      margin-left: 5%;
    }
  }

  @include xregularSize;

  h2 {
    @include slargeSize;
    font-weight: normal;
    margin: 50px 0 35px;
  }
  h3 {
    @include xmedSize;
    margin: 0;
  }
  .mas_info-mapa {
    width: 100%;
    height: 0;
    padding-bottom: 84%;
    background-image: url('../img/content/mas_info_mapa.png');
    background-size: contain;
    background-repeat: no-repeat;

    @include responsive($xs) {
      display: none;
    }
  }

  .button, input {
    margin-left: auto;
    margin-right: auto;
    @include responsive($xs) {
      @include xregularSize;
    }
  }

  a.button {
    margin-top: 20px;
  }

  .mas_info-arrow-mapa {
    position: absolute;
    right: 20px;
    bottom: 20px;

    @include responsive($xs) {
      position: relative;
      right: auto;
      bottom: auto;
      padding-right: 0;
      margin: 40px auto 0;
      display: block;
      background-image: none;
      text-align: center;
      white-space: normal;
      height: auto;
    }
  }
}