.section-accordion {
  height: 470px;
  overflow: hidden;
  background-color: $color-white;

  @include responsive($xs) {
    height: auto;
    background-image: url('../img/content/accordion_bg_xs.jpg');
    background-size: cover;
    background-position: center -70px;

    .center-arrow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .arrow {
        display: block;
        width: 100%;
        height: 100%;
        background-size: auto;
        background-image: url('../img/widgets/arrow_accordion_xs.png');
        background-size: 50px 15px;
        background-position: right center;
        background-repeat: no-repeat;
      }
    }
  }

  .content {
    overflow: hidden;
  }
  .container {
    padding: 0;
  }

  .accordion-title {
    @include medSize;
    padding: 15%;
  }
}
