.banner-soymecanico {
  position: relative;
  background-image: url('../img/content/bg_soymecanico.jpg');
  background-size: cover;
  background-position: center center;
  height: 360px;
  padding-top: 75px;

  @include responsive($xs) {
    padding-top: 40px;
  }

  .banner-soymecanico-logo {
    margin: auto;
    /*
    width: 360px;
    height: 240px;
    */
    width: 243px;
    height: 230px;
    background-image: url('../img/content/lg_soymecanico2.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 0;

    @include responsive($xs) {
      max-width: 60%;
    }
  }
}

.banner-open-pro {
  position: relative;
  background-image: url('../img/content/bg_open_pro.jpg');
  background-size: cover;
  background-position: center center;
  height: 360px;
  padding-top: 75px;

  @include responsive($xs) {
    padding-top: 40px;
  }
}

.banner-formulario-meetingpoint {
  position: relative;
  background-image: url('../img/content/bg_formulario_meetingpoint.jpg');
  background-size: cover;
  background-position: center center;
  height: 360px;
  padding-top: 75px;

  @include responsive($xs) {
    padding-top: 40px;
  }
}

.legales {
  padding: 50px;
  @include compactSize;
}