.section-pro_a_pro {
  height: 470px;
  position: relative;
  background: linear-gradient(90deg, $color-white-real 50%, $color-black-real 50%);

  @include responsive($xs) {
    height: auto;
    background-image: url('../img/content/pro_a_pro_bg_xs.jpg');
    background-size: cover;

    .col-pro_a_pro-door {
      display: none;
    }
  }

  .pro_a_pro-a,
  .pro_a_pro-de {
    @include image-replace;
    position: absolute;
    z-index: $z-sliding_doors-over;
  }

  .pro_a_pro-de {
    @include image-replace-src('../img/content/pro_a_pro_left.png', 472px / 2, 46px / 2);
    background-size: contain;
    top: 228px;
    left: 25%;
    margin-left: -189px;

    @include responsive($xs) {
      background-image: url('../img/content/pro_a_pro_left_white.png');
      top: 80px;
      left: 35px;
      margin-left: 0;
    }
  }

  .pro_a_pro-a {
    @include image-replace-src('../img/content/pro_a_pro_right.png', 440px / 2, 46px / 2);
    background-size: contain;
    top: 228px;
    right: 56%;
    margin-right: -220px;

    @include responsive($xs) {
      top: 110px;
      right: 35px;
      margin-right: 0;
    }
  }
}

.pro_a_pro_door {
  height: 470px;
  position: relative;

  .sliding_door-left {
    background-color: $color-white-real;
  }
  .sliding_door-right {
    background-color: $color-black-real;
  }
  .sliding_door-under {
    background-image: url('../img/content/pro_a_pro_under.jpg');
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100%;
  }
}

.pro_a_pro-right {
  height: 470px;
  display: table-cell;
  vertical-align: middle;

  @include responsive($xs) {
    height: auto;
    display: block;
    vertical-align: initial;
    padding-top: 190px;
  }

  .pro_a_pro-text {
    @include neg;
    width: 60%;
    margin: 18px / 2  auto  0;

    @include responsive($xs) {
      width: 100%;
      @include medSize;
      padding: 0 10px;
    }
  }
  .arrow {
    position: absolute;
    right: 12%;

    @include responsive($xs) {
      position: relative;
      margin: 20px auto 50px;
      right: auto;
    }
  }
}
