.page-baja-newsletter {
  .main {
    max-width: initial;
  }

  .form-header {
    border-bottom: none;
    h1 {
      text-transform: uppercase;
    }
  }

  form.ps-form {
    .form-field {
      text-align: center;
      @include lregularSize;

      input[type=checkbox] {
        float: none;
        height: auto;
        display: inline-block;
      }
    }

    .form-field-actions {
      .button {
        text-transform: uppercase;

        @include responsive($xs) {
          margin-top: 15px;
        }
      }

      .button-secondary {
        margin-right: 50px;
      }
    }

    .loading {
      display: block;
      margin: 20px auto 0;
    }
  }

  #aceptoPolitica {
    display: inline-block;
    text-align: center;
    float: none;
    height: auto;
  }

  .success {
    @include medSize;
    text-align: center;
    padding: 100px 0;
  }
}