.section-trabajar {
  background-color: $color-yellow;
  padding: 30px 0 40px;

  @include responsive($xs) {
    padding-bottom: 0;
  }

  h2 {
    text-align: center;
    @include medSize;
    text-transform: uppercase;
    font-weight: normal;

    @include responsive($xs) {
      text-align: left;
      text-transform: none;
      font-weight: normal;
      .line-2 {
        display: block;
        @include largeSize;
        text-transform: uppercase;
      }
    }
  }

  @include responsive($xs) {
    .hovercircle-row:nth-child(even) {
      .hovercircle:nth-child(odd) {
        background-color: $color-yellow-alt;
      }
    }
    .hovercircle-row:nth-child(odd) {
      .hovercircle:nth-child(even) {
        background-color: $color-yellow-alt;
      }
    }
  }
}
