
.section-notfound {
  text-align: center;

  .ssplit-image {
    padding: 0 20%;
  }

  .ssplit-vtop{

    //Fix...
    padding:0;

    //padding-left: 50%;
    padding-left: 30%;

    //Fix...
    padding-top: 15%;
    display:block;



    h3 {
      margin-top: 30px;
    }

    p{
      margin-bottom: 50px;
    }

    @include responsive($xs) {
      padding-left: 0px;
      padding-top:30px;
      padding-bottom:40px;
    }

    .ic-triangle{
      width: 106px;
      height: 106px;
      background-size: contain;
      margin: 0 auto;
    }

    .button {
      margin: 0 auto;
    }

  }


}






