.section-unete {
  height: 470px;
  background-image: url('../img/content/bg_inicio_quiero_unirme.jpg');
  background-size: cover;
  background-position: center center;

  @include responsive($xs) {
    height: 600px;
    background-position: center center;
  }

  .container {
    height: 100%;
  }

  .unete-text {
    text-align: center;
    @include headingText;
    @include xlargeSize;
    font-weight: bold;
    position: absolute;
    bottom: 40%;
    left: 10%;
    width: 80%;

    @include responsive($xs) {
      bottom: auto;
      top: 250px;
      @include xmedSize;
    }
  }

  .unete-button {
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -48px;
    margin-top: 40px;
    width: 98px;
    height: 98px;
    background-image: url('../img/widgets/btn_unirme_btm.png');
    background-size: contain;
    font-size: 0;

    &:before {
      content: " ";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: $color-yellow;
      border-radius: 100%;
      width: 0;
      height: 0;
      transition-property: top, left, width, height;
      transition-duration: 0.3s;
    }
    &:after {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../img/widgets/btn_unirme_top.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 59px 47px;
    }

    &:hover {
      &:before {
        width: 110%;
        height: 110%;
        top: -5%;
        left: -5%;
      }
    }

    @include responsive($xs) {
      &:before {
        width: 140%;
        height: 140%;
        top: -20%;
        left: -20%;
      }
    }
  }
}
