$base-font-size: 15px;
$base-line-height: 17px;

$large-line-height: 25px;

// Base (morphological) styles

@mixin regularSize {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

@mixin lregularSize {
  font-size: 18px;
  line-height: 21px;
}

@mixin compactSize {
  font-size: 14px;
  line-height: 18px;
}

@mixin xregularSize {
  font-size: 20px;
  line-height: 22px;
}

@mixin medSize {
  font-size: 22px;
  line-height: 25px;
}

@mixin xmedSize {
  font-size: 27px;
  line-height: 30px;
}

@mixin slargeSize {
  font-size: 30px;
  line-height: 30px;
}

@mixin largeSize {
  font-size: 35px;
  line-height: 35px;
}

@mixin xlargeSize {
  font-size: 53px;
  line-height: 53px;
}

@mixin regularText {
  @include VWText;
}

@mixin headingText {
  @include VWHead;
}

@mixin sideMenuText {
  @include compactSize;
  @include regularText;
  text-transform: uppercase;
}

@mixin buttonText {
  @include medSize;
  font-weight: bold;
}