@import "warning";

//
// Neat configuration
//
$grid-columns: 12;
$max-width: 1200px;
$output-bourbon-deprecation-warnings: false;

@import "bourbon/bourbon";
@import "neat/neat";

// Libs
@import "_font_vw";

// Variable definitions
@import "def_fonts";
@import "def_colors";
@import "def_zindex";

@import "normalize";
@import "reset";
@import "util";
@import "util_responsive";

@import "type";
@import "base";
@import "layout";

@import "mod_arrowunder";
@import "mod_logos";
@import "mod_proservice_icons";
@import "mod_arrows";
@import "mod_button";
@import "mod_bullets";
@import "mod_selector_buttons";
@import "mod_forms";
@import "mod_modal";
@import "mod_header";
@import "mod_side_menu";
@import "mod_footer";
@import "mod_social";
@import "mod_slider";
@import "mod_hovercircles";
@import "mod_sliding_door";
@import "mod_seesaw";
@import "mod_noticias";
@import "mod_accordion";
@import "mod_hoverdiags";
@import "mod_diagframe";
@import "mod_tabpanes";
@import "mod_hiclist";
@import "mod_sections";
@import "mod_ssplit";
@import "mod_ssplit_overlay";
@import "mod_duo";
@import "mod_ppro";

@import "sec_pro_a_pro";
@import "sec_youtube";
@import "sec_ultimas_noticias";
@import "sec_unete";
@import "sec_seesaw";
@import "sec_trabajar";
@import "sec_mas_info";
@import "sec_accordion";
@import "sec_acerca";
@import "sec_notfound";
@import "sec_formularios";
@import "sec_baja_newsletter";