<div class="section-small section-yellow_black ssplit">
  <div class="container">
    <div class="col-1 col-empty">&nbsp;</div>
    <div class="col-6">
      <div class="ssplit-image diag-left diag-right" style="background-image: url('img/content/bg_ventajas_v2.jpg')"></div>
    </div>
    <div class="col-5">
      <div class="ssplit-vcenter">
        <div class="large">¿Por qué trabajar <strong>Junto a PRO&nbsp;Service</strong></div>
        <p>
          PRO Service está especialmente pensado para adaptarse a las necesidades de trabajo del taller, por eso
          ofrecemos ventajas PRO que facilitan la gestión y promueven la excelencia en el servicio.
        </p>
      </div>
    </div>
  </div>
</div>