<div class="section-large section-white ssplit">
  <div class="container container-rev">
    <div class="col-5">
      <div class="ssplit-image ssplit-image-centeranchor diag-left" style="background-image: url('img/content/bg_ventajas_2_v2.jpg')"></div>
    </div>
    <div class="col-7">
      <div class="ssplit-vcenter">
        <ul class="bullets">
          <li class="ic-wrench">
            <div class="large">Piezas exactas</div>Identificamos la pieza exacta con VIN, sin errores y a la primera.
          </li>
          <li class="ic-operator">
            <div class="large">Soporte técnico</div>Ofrecemos asesoramiento para la reparación con toda la experiencia del Grupo Volkswagen.
          </li>
          <li class="ic-home">
            <div class="large">Amplio stock de referencias</div>En 48h disponemos de hasta 845.000 piezas en stock para cualquier reparación.
          </li>
          <li class="ic-delivery">
            <div class="large">Entregas diarias</div>
            Tenemos una amplia frecuencia de entrega garantizando un servicio de entrega cada 2 horas,
            según la ruta.
          </li>
          <li class="ic-logo">
            <div class="large">Garantía de 2 años</div>Todos nuestros recambios están avalados con garantía de dos años.
          </li>
          <li class="ic-calendar">
            <div class="large">Disponibilidad de 15 años</div>
            Garantizamos la disponibilidad de los recambios del vehículo hasta 15 años después de la
            fecha de fabricación.
          </li>
          <li class="ic-tie">
            <div class="large">Profesionales del sector</div>
            Disponemos de un equipo especializado en todos los vehículos del Grupo Volkswagen y las piezas
            que lo componen.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>