<div class="header-min2">
  <div class="ic ic-large ic-logo"></div>
</div>
<div class="section-white">
  <div class="container">
    <div *ngIf="!done" class="col-single">
      <div class="form-header">
        <h1>¡Te echaremos de menos!</h1>
      </div>
      <form #contactForm="ngForm" class="ps-form full_width" method="post" action="#">
        <div class="form-field">
          <input [(ngModel)]="confirma" [disabled]="sending" type="checkbox" name="confirma" id="confirma"/>Confirmo que quiero darme de baja de todas las comunicaciones de PRO Service.
        </div>
        <div class="form-field-actions actions">
          <input class="button button-secondary" [class.disabled]="sending" type="button" value="Cancelar" (click)="cancelForm(); false">
          <input class="button" [class.disabled]="sending" type="submit" value="Aceptar" (click)="submitForm(contactForm); false">
          <div *ngIf="sending" class="loading"></div>
        </div>
      </form>
    </div>
    <div *ngIf="done" class="col-single">
      <div class="success">
        El proceso de baja se ha realizado con éxito
      </div>
    </div>
  </div>
</div>
<div class="footer-min2">
  <div class="container">
    <div class="col-single-narrow">
      Cuando quieras puedes volverte a apuntar a nuestra newsletter,
      entra a nuestra web <a href="http://www.vgproservice.es/">www.vgproservice.es</a>
    </div>
  </div>
</div>