<div class="section-xlarge section-white ssplit">
  <div class="container">
    <div class="col-6">
      <div class="ssplit-image ssplit-image-centeranchor diag-right" style="background-image: url('img/content/bg_suscripcion_newsletter.jpg')"></div>
    </div>
    <div class="col-6">
      <div class="ssplit-valign">
        <div class="ssplit-vtop ssplit-vtop-centered">
          <div class="ic ic-large ic-screen"></div>
          <h3>Apúntate a nuestra Newsletter</h3>
          Registro
          <form #contactForm="ngForm" class="ps-form full_width align_left" method="post" action="#">
            <input [(ngModel)]="nombre" required [disabled]="sending" type="text" name="nombre" placeholder="Nombre" maxlength="100"/>
            <input [(ngModel)]="apellido" required [disabled]="sending" type="text" name="apellido" placeholder="Apellidos" maxlength="100"/>
            <input [(ngModel)]="email" required [disabled]="sending" type="email" name="email" placeholder="E-mail de contacto" maxlength="100"/>
            <select [(ngModel)]="sector" name="sector" [disabled]="sending">
              <option value="" disabled selected hidden>&nbsp;&nbsp;Sector al que pertenece</option>
              <option value="Taller">&nbsp;&nbsp;Taller</option>
              <option value="Compañía">&nbsp;&nbsp;Compañía</option>
              <option value="Otros">&nbsp;&nbsp;Otros</option>
            </select>
            <input [(ngModel)]="negocio" [disabled]="sending" type="text" name="negocio" placeholder="Nombre del negocio / compañía" maxlength="100"/>
            <input [(ngModel)]="telefonoContacto" [disabled]="sending" type="tel" name="telefonoContacto" placeholder="Teléfono fijo" maxlength="50"/>
            <input [(ngModel)]="telefonoMovilContacto" [disabled]="sending" type="tel" name="telefonoMovilContacto" placeholder="Teléfono móvil" maxlength="50"/>
            <input [(ngModel)]="codigoPostal" required [disabled]="sending" type="text" name="codigoPostal" placeholder="Código Postal" maxlength="10" class="input-small"/>
            <label for="aceptoPolitica" class="legalCheckbox">
              <input [(ngModel)]="aceptoPolitica" [disabled]="sending" type="checkbox" name="aceptoPolitica" id="aceptoPolitica"/>Acepto condiciones legales*
            </label>
            <div class="actions">
              <input class="button" [class.disabled]="sending" type="submit" value="Enviar" (click)="submitForm(contactForm); false">
              <div *ngIf="sending" class="loading"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-white">
  <div class="legales">
    <p>*Le informamos que los datos personales que Ud. nos facilita serán incorporados a un fichero titularidad de VOLKSWAGEN GROUP ESPAÑA DISTRIBUCIÓN, S.A. (en adelante, “VGED”), con la finalidad de gestionar su participación, preferencias y peticiones especiales en los eventos organizados y patrocinados por VGED y para informarle periódicamente de novedades y futuros eventos, tanto por medios escritos como electrónicos, pudiendo ser tales informaciones adecuadas a sus perfiles particulares.</p>
    <p>En caso de que Ud. nos proporcione datos relativos a otra persona física deberá, con carácter previo a su inclusión, informarle de los extremos contenidos en la presente cláusula.</p>
    <p>Puede ejercitar los derechos de acceso, rectificación, cancelación y oposición al tratamiento de sus datos, así como revocar su consentimiento para el envío de comunicaciones comerciales electrónicas, mediante petición escrita a la dirección Parque de Negocios Mas Blau II, Carrer de la Selva, 22, 08820 El Prat de Llobregat, Barcelona o remitiendo un correo electrónico a <a href="mailto:contacta@vwgproservice.es">contacta@vwgproservice.es</a> indicando claramente el derecho que desea ejercitar, su nombre, apellidos y una copia del documento nacional de identidad (DNI) o documento similar que le acredite.</p>
  </div>
</div>