<div class="section section-seesaw">
  <div class="container">
    <div class="col-full">
      <div class="seesaw">
        <div class="seesaw-left">
          <div class="seesaw-left-text">
            <div class="large"><strong>Programa</strong> de fidelización</div>
            En PRO Service premiamos la fidelidad de
            cada taller ofreciendo ventajas exclusivas
            específicas.
          </div>
          <div class="center-arrow"><a class="arrow arrow-black" routerLink="/programa-vinculacion"></a></div>
        </div>
        <div class="seesaw-right">
          <div class="seesaw-right-text">
            <div class="large"><strong>¿Eres una aseguradora, compañía de renting o una red de talleres?</strong></div>¡Descubre las ventajas de nuestro servicio!
          </div>
          <div class="center-arrow"><a class="arrow arrow-white" routerLink="/grandes-cuentas"></a></div>
        </div>
      </div>
    </div>
  </div>
</div>