<div class="section-small section-white duo">
  <div class="container">
    <div class="col-6">
      <div class="duo-image" style="background-image: url('img/content/bg_inicio_productos.jpg')"></div>
    </div>
    <div class="col-6" routerLink="/productos-y-servicios">
      <a class="blocklink" routerLink="/productos-y-servicios">
        <div class="duo-vcenter">
          <div class="large"><strong>Productos PRO</strong><br>para dar un mejor servicio</div>
          <p>Recambios Originales del Grupo Volkswagen</p>
          <a class="arrow arrow-yellow" routerLink="/productos-y-servicios"></a>
        </div>
      </a>
    </div>
  </div>
</div>