<div class="section section-accordion">
  <div class="container">
    <div class="col-full">
      <div class="accordion-title only-xs"><strong>Productos PRO</strong><br/>para dar un mejor servicio</div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-image" style="background-image: url('img/accordion/01.jpg')"></div>
          <div class="accordion-content">
            <div class="accordion-content-centered">
              <div class="large"><strong>Productos PRO</strong><br/>para dar un mejor servicio</div>
              <p>Recambios originales de Volkswagen Group</p>
              <div class="center-arrow"><a class="arrow arrow-yellow" routerLink="/productos-y-servicios"></a></div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-image" style="background-image: url('img/accordion/02.jpg')"></div>
          <div class="accordion-content">
            <div class="accordion-content-centered">
              <div class="large"><strong>Productos PRO</strong><br/>para dar un mejor servicio</div>
              <p>Productos gama Economy de Volkswagen Group</p>
              <div class="center-arrow"><a class="arrow arrow-yellow" routerLink="/productos-y-servicios"></a></div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-image" style="background-image: url('img/accordion/03.jpg')"></div>
          <div class="accordion-content">
            <div class="accordion-content-centered">
              <div class="large"><strong>Productos PRO</strong><br/>para dar un mejor servicio</div>
              <p>Préstamos de útiles</p>
              <div class="center-arrow"><a class="arrow arrow-yellow" routerLink="/productos-y-servicios"></a></div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-image" style="background-image: url('img/accordion/04.jpg')"></div>
          <div class="accordion-content">
            <div class="accordion-content-centered">
              <div class="large"><strong>Productos PRO</strong><br/>para dar un mejor servicio</div>
              <p>Consumibles para tu taller</p>
              <div class="center-arrow"><a class="arrow arrow-yellow" routerLink="/productos-y-servicios"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>