<div class="section-small section-black duo">
  <div class="container">
    <div class="col-6">
      <div class="duo-image duo-image-centeranchor" style="background-image: url('img/content/bg_inicio_ventajas.jpg')"></div>
    </div>
    <div class="col-6" routerLink="/grandes-cuentas">
      <a class="blocklink" routerLink="/grandes-cuentas">
        <div class="duo-vcenter">
          <div class="large"><strong>¿Eres una aseguradora, compañía de renting o una red de talleres?</strong></div>
          <p class="yellow">¡Descubre las ventajas de nuestro servicio!</p>
          <a class="arrow arrow-white" routerLink="/grandes-cuentas"></a>
        </div>
      </a>
    </div>
  </div>
</div>