<div class="section section-pro_a_pro">
  <div class="container">
    <div class="col-8 col-pro_a_pro-door">
      <div class="sliding_door pro_a_pro_door" data-aos="sliding_door-open" data-aos-anchor-placement="center-bottom" data-aos-delay="0" data-aos-once="true">
        <div class="sliding_door-under"></div>
        <div class="sliding_door-left"></div>
        <div class="sliding_door-right"></div>
      </div>
    </div>
    <div class="col-4 col-pro_a_pro-text">
      <div class="pro_a_pro-right">
        <div class="pro_a_pro-text" data-aos="fade-down" data-aos-anchor=".pro_a_pro_door" data-aos-anchor-placement="center-bottom" data-aos-delay="1200" data-aos-once="true">
          <p>
            Cuando un profesional trabaja junto a otros profesionales que entienden su negocio, su capacidad para dar
            un servicio excelente se multiplica.
          </p>
          <p>
            Por eso, en Volkswagen Group hemos creado PRO Service, un servicio pensado especialmente para adaptarse
            a las necesidades y dinámicas de trabajo del taller.
          </p><a class="arrow arrow-yellow" routerLink="/proservice" data-aos="fade-right" data-aos-anchor=".pro_a_pro_door" data-aos-anchor-placement="center-bottom" data-aos-delay="1600" data-aos-once="true"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="pro_a_pro-de" data-aos="fade-right" data-aos-anchor=".pro_a_pro_door" data-aos-anchor-placement="center-bottom" data-aos-delay="400" data-aos-once="true"></div>
  <div class="pro_a_pro-a" data-aos="fade-right" data-aos-anchor=".pro_a_pro_door" data-aos-anchor-placement="center-bottom" data-aos-delay="800" data-aos-once="true"></div>
</div>