<div *ngIf="noticias" class="section section-ultimas_noticias">
  <div class="container">
    <div class="col-12">
      <h2><strong>Últimas</strong> noticias</h2>
    </div>
  </div>
  <div class="container">
    <div *ngFor="let noticia of noticias" class="col-4">
      <div class="noticia-teaser"><a [routerLink]="['/noticias-volkswagen-proservice', noticia.slug]">
        <div class="noticia-image" [style.background-image]="noticia.safe_fotoThumb"></div>
        <div class="noticia-data">
          <h3 class="noticia-title">{{ noticia.titulo }}</h3>
          <div class="noticia-date">{{ noticia.fechaPublicacion | date:'d/M/y' }}</div>
        </div></a></div>
    </div>
  </div>
</div>