<div class="section section-slider">
  <div *ngIf="activeImages" class="cycle-slideshow" data-cycle-slides="&gt; a" data-cycle-fx="scrollHorz" data-cycle-swipe="true" data-cycle-swipe-fx="scrollHorz">
    <a *ngFor="let image of activeImages" class="slide" [href]="image.safe_href" [style.background-image]="image.safe_url"></a>
    <div class="cycle-pager"></div>
  </div>
</div>