<div class="section-small section-yellow duo">
  <div class="container container-rev">
    <div class="col-6">
      <div class="duo-image duo-image-centeranchor" style="background-image: url('img/content/bg_inicio_youtube.jpg')"></div>
    </div>
    <div class="col-6">
      <a class="blocklink" href="https://www.youtube.com/channel/UCsR3PtxjFWvc_wx09tLyzOQ">
        <div class="duo-vcenter-wrapper">
          <div class="duo-vcenter">
            <div class="canal_youtube-logo-float"></div>
            <div class="large">Visita nuestro<br><strong>canal de YouTube</strong></div>
            <a class="arrow arrow-white" href="https://www.youtube.com/channel/UCsR3PtxjFWvc_wx09tLyzOQ"></a>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>