<div class="section section-trabajar">
  <div class="container">
    <div class="col-full">
      <h2 data-aos="fade-in" data-aos-anchor=".hovercircle-row" data-aos-once="true">¿Por qué trabajar junto a <span class='line-2'><strong>PRO</strong> Service?</span></h2>
      <div class="hovercircle-row">
        <a routerLink="/ventajas-taller-volkswagen" class="hovercircle" data-aos="zoom-in" data-aos-delay="0" data-aos-once="true">
          <div class="off" style="background-image:url('img/hovercircles/01_off.png')"></div>
          <div class="on" style="background-image:url('img/hovercircles/01_on.png')">
            <h3>Piezas exactas.</h3>Identificamos la pieza exacta con VIN, sin errores y a la primera.
          </div>
        </a>
        <a routerLink="/ventajas-taller-volkswagen" class="hovercircle" data-aos="zoom-in" data-aos-delay="200" data-aos-once="true">
          <div class="off" style="background-image:url('img/hovercircles/02_off.png')"></div>
          <div class="on" style="background-image:url('img/hovercircles/02_on.png')">
            <h3>Soporte técnico.</h3>Ofrecemos asesoramiento de Volkswagen Group para la reparación.
          </div>
        </a>
        <a routerLink="/ventajas-taller-volkswagen" class="hovercircle" data-aos="zoom-in" data-aos-delay="400" data-aos-once="true">
          <div class="off" style="background-image:url('img/hovercircles/03_off.png')"></div>
          <div class="on" style="background-image:url('img/hovercircles/03_on.png')">
            <h3>Amplio stock de referencias.</h3>En 48hs disponemos de hasta 845.000 piezas en stock.
          </div>
        </a>
      </div>
      <div class="hovercircle-row">
        <a routerLink="/ventajas-taller-volkswagen" class="hovercircle" data-aos="zoom-in" data-aos-delay="0" data-aos-once="true">
          <div class="off" style="background-image:url('img/hovercircles/04_off.png')"></div>
          <div class="on" style="background-image:url('img/hovercircles/04_on.png')">
            <h3>Entregas diarias.</h3>Garantizamos un servicio de entrega cada 2 horas, según la ruta.
          </div>
        </a>
        <a routerLink="/ventajas-taller-volkswagen" class="hovercircle" data-aos="zoom-in" data-aos-delay="200" data-aos-once="true">
          <div class="off" style="background-image:url('img/hovercircles/05_off.png')"></div>
          <div class="on" style="background-image:url('img/hovercircles/05_on.png')">
            <h3>Garantía de 2 años.</h3>Todos nuestros recambios están avalados con garantía de dos años.
          </div>
        </a>
        <a routerLink="/ventajas-taller-volkswagen" class="hovercircle" data-aos="zoom-in" data-aos-delay="400" data-aos-once="true">
          <div class="off" style="background-image:url('img/hovercircles/06_off.png')"></div>
          <div class="on" style="background-image:url('img/hovercircles/06_on.png')">
            <h3>Disponibilidad de 15 años.</h3>Disponibilidad de recambios hasta 15 años después de la fabricación.
          </div>
        </a>
        <a routerLink="/ventajas-taller-volkswagen" class="hovercircle" data-aos="zoom-in" data-aos-delay="600" data-aos-once="true">
          <div class="off" style="background-image:url('img/hovercircles/07_off.png')"></div>
          <div class="on" style="background-image:url('img/hovercircles/07_on.png')">
            <h3>Profesionales del sector.</h3>Disponemos de un equipo especializado de las marcas de Volkswagen Group.
          </div>
        </a>
      </div>
    </div>
  </div>
</div>