<div class="section-mas_info">
  <div class="container">
    <div class="col-5">
      <div class="mas_info-text">
        <h2><strong>¿Necesitas</strong> más información?</h2>
        <h3>Llámanos</h3>
        <p>Encuentra tu Punto de Recambios Originales PRO Service más cercano</p>
        <form class="ps-form">
          <input [(ngModel)]="codigoPostal" type="text" name="cp" placeholder="Introduce tu código postal" maxlength="10"/>
          <input (click)="findClosePunto(); false" class="button" type="submit" value="Ver datos de contacto"/>
        </form>
        <h3>¿Quieres que te contactemos?</h3>
        <p>Déjanos tus datos y nos pondremos en contacto contigo.<a class="button" routerLink="/contacto">Solicitar contacto</a></p>
      </div>
    </div>
    <div class="col-7">
      <div class="mas_info-mapa" data-aos="fade-down" data-aos-delay="400" data-aos-anchor-placement="center-bottom" data-aos-once="true"></div><a class="arrow arrow-text arrow-yellow mas_info-arrow-mapa" routerLink="/puntos-proservice">Ver mapa con todos los Puntos PRO Service</a>
    </div>
  </div>
</div>