<div class="section-notfound section-med section-white ssplit">
  <div class="container container-rev">
    <div class="col-5">
      <div class="ssplit-image ssplit-image-centeranchor diag-left" style="background-image: url('img/content/bg_notfound.jpg')"></div>
    </div>
    <div class="col-7">
      <!-- <div class="ssplit-vtop ssplit-vtop-short"> -->
      <div class="ssplit-vtop" >
        <div class="ic-triangle"></div>
        <h3>Lo sentimos,</h3>
        <p>esta página no está disponible</p>
        <a class="button" routerLink="/">Ir a la página de inicio</a>
      </div>
    </div>
  </div>
</div>