<div class="section-small section-yellow_black ssplit">
  <div class="container">
    <div class="col-1 col-empty">&nbsp;</div>
    <div class="col-6">
      <div class="ssplit-image diag-left diag-right" style="background-image: url('img/content/bg_calendario.jpg')"></div>
    </div>
    <div class="col-5">
      <div class="ssplit-vcenter">
        <p class="large">
          ¡Unirse a PRO Service
          <strong>Tiene premio!</strong>
        </p>
        Con la apertura de cuenta, recibirás un obsequio de regalo: un planning calendario
        para empezar a dar un servicio PRO y ofrecer la solución más adecuada estés donde estés.
        <p class="large"><br>¡ÚNETE!</p>
      </div>
    </div>
  </div>
</div>