<div class="section-large section-white ssplit">
  <div class="container container-rev">
    <div class="col-5">
      <div class="ssplit-image ssplit-image-centeranchor diag-left" style="background-image: url('img/content/bg_unete_v2.jpg')"></div>
    </div>
    <div class="col-7">
      <div class="ssplit-vtop ssplit-vtop-short">
        <div class="large yellow"><strong>Únete</strong><br/>a PRO Service</div>
        <p class="extra-margin">
          Si quieres aprovechar todas las ventajas de trabajar junto a nosotros y garantizar
          una alta calidad de reparación y un servicio excelente a tus clientes, solo debes
          seguir los siguientes pasos
        </p>
        <ul class="bullets large_icons">
          <li class="ic-checklist">
            <div class="large">Rellena el formulario de solicitud que te proporcionará tu agente comercial PRO Service</div>
          </li>
          <li class="ic-barrel">
            <div class="large">Indica la domiciliación bancaria SEPA</div>
          </li>
          <li class="ic-screen">
            <div class="large">Firma el acuerdo sobre el envío telemático de facturas</div>
          </li>
        </ul>
        <p class="extra-margin">
          Y una vez realizado todo el proceso, y pasados unos días, ¡ya podrás realizar tu
          primer pedido a PRO Service!
        </p>
      </div>
    </div>
  </div>
</div>