<div class="section-white">
  <div class="container">
    <div class="col-full">
      <h2 class="upper center"><strong>¿Cómo lo hacemos?</strong></h2>
    </div>
  </div>
  <div class="container">
    <div class="col-full">
      <div class="tabpanes">
        <ul class="tabs">
          <li class="selected" data-tab="gc-como-taller">
            <div class="inner" style="background-image: url('img/content/bg_gc_tab_1.jpg')">
              <div class="ic ic-large ic-workshop"></div>
              <div class="upper">Añadimos valor <strong>al&nbsp;taller</strong></div>
            </div>
          </li>
          <li data-tab="gc-como-aseguradora">
            <div class="inner" style="background-image: url('img/content/bg_gc_tab_2.jpg')">
              <div class="ic ic-large ic-suitcase"></div>
              <div class="upper">Añadimos valor <strong>a la compañía aseguradora</strong></div>
            </div>
          </li>
          <li data-tab="gc-como-asegurado">
            <div class="inner" style="background-image: url('img/content/bg_gc_tab_3.jpg')">
              <div class="ic ic-large ic-starman"></div>
              <div class="upper">Añadimos valor <strong>al&nbsp;usuario</strong></div>
            </div>
          </li>
        </ul>
        <div class="content">
          <div class="pane active" id="gc-como-taller">
            <div class="tab-phone">Añadimos valor <strong>al&nbsp;taller</strong></div>
            <ul class="hiclist hiclist-6">
              <li class="ic-wrench">Identificación de la pieza exacta  a la primera (“0” error)</li>
              <li class="ic-operator">Soporte técnico sobre el proceso de reparación</li>
              <li class="ic-home">Amplio stock de referencias incluyendo “classic parts”</li>
              <li class="ic-delivery">Hasta 4 entregas diarias</li>
              <li class="ic-logo">Garantía del Recambio Original de 2 años</li>
              <li class="ic-calendar">Disponibilidad de 15 años después de la fecha de comercialización del vehículo</li>
            </ul>
          </div>
          <div class="pane" id="gc-como-aseguradora">
            <div class="tab-phone">Añadimos valor <strong>a la compañía aseguradora</strong></div>
            <ul class="hiclist hiclist-5">
              <li class="ic-desk">Key Account Management</li>
              <li class="ic-barrel">Reducción del coste medio</li>
              <li class="ic-devices">Trazabilidad a través de la conectividad plataformas</li>
              <li class="ic-cycle">Partnership Development Program (PDP)</li>
              <li class="ic-tie">Field Force para implantación de proyectos</li>
            </ul>
          </div>
          <div class="pane" id="gc-como-asegurado">
            <div class="tab-phone">Añadimos valor <strong>al&nbsp;usuario</strong></div>
            <ul class="hiclist hiclist-2">
              <li class="ic-checklist">Certificación Recambio Original (valoriza el vehículo y la reparación)</li>
              <li class="ic-time">Reducción del tiempo en el inicio de la reparación</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>