<div class="section-small section-yellow ssplit">
  <div class="container">
    <div class="col-5">
      <div class="ssplit-image diag-right" style="background-image: url('img/content/bg_grandes_clientes_v2.jpg')">
        <div class="ssplit-overlay ssplit-overlay-bottomrightdiag">¿Qué buscamos?</div>
      </div>
    </div>
    <div class="col-7">
      <div class="ssplit-vcenter">
        <ul class="bullets bullets-style-upper large_icons">
          <li class="ic-gear">
            <div class="upper">
              Búsqueda de las sinergias con las
              Grandes cuentas de la automoción
              <strong>para una relación eficiente.</strong>
            </div>
          </li>
          <li class="ic-award">
            <div class="upper">
              <strong>Creación de valor</strong>
              para el taller, la gran&nbsp;cuenta y el usuario.
            </div>
          </li>
          <li class="ic-world">
            <div class="upper"><strong>Un nuevo rol en la posventa</strong></div>Reparaciones en talleres:
            <ul class="bullets">
              <li>Recambios originales</li>
              <li>Conocimiento</li>
              <li>Servicio logístico</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>