<div class="section-white">
  <div class="container">
    <div class="col-full">
      <h2 class="upper center"><strong>Ventajas</strong> de trabajar con PRO Service</h2>
    </div>
  </div>
</div>
<div class="section-small section-white section-nopadding">
  <div class="container">
    <div class="col-full">
      <div class="hoverdiags">
        <div class="pane">
          <div class="under" style="background-image: url('img/content/bg_gc_hover_1.jpg')"></div>
          <div class="over">
            <div class="hoverdiags-img">
              <div class="lg lg-recambios_originales"></div>
            </div>
            <div class="hoverdiags-text">
              <div class="upper">Propiedad de <strong>Volkswagen&nbsp;Group</strong></div>
            </div>
          </div>
        </div>
        <div class="pane">
          <div class="under" style="background-image: url('img/content/bg_gc_hover_2.jpg')"></div>
          <div class="over">
            <div class="hoverdiags-img">
              <div class="ic ic-customer"></div>
            </div>
            <div class="hoverdiags-text">
              <div class="upper">Relación comercial directa con <strong>Volkswagen&nbsp;Group</strong></div>
            </div>
          </div>
        </div>
        <div class="pane">
          <div class="under" style="background-image: url('img/content/bg_gc_hover_3.jpg')"></div>
          <div class="over">
            <div class="hoverdiags-img">
              <div class="ic ic-map"></div>
            </div>
            <div class="hoverdiags-text">
              <div class="upper">Cobertura nacional con <strong>41 puntos de venta</strong></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>