<div class="section-small section-yellow_white ssplit">
  <div class="container">
    <div class="col-1 col-empty">&nbsp;</div>
    <div class="col-6">
      <div class="ssplit-image diag-left diag-right" style="background-image: url('img/content/bg_acerca_pro_a_pro.jpg')"></div>
    </div>
    <div class="col-5">
      <div class="ssplit-vcenter">
        <div class="large"><strong>Programa</strong> de vinculación</div>
        <p>En PRO Service llevamos a cabo un programa de vinculación exclusivo en el que proponemos ventajas exclusivas.</p>
        <p>Únete a PRO Service y descubre más detalles.</p>
        <p><br/><a class="button" routerLink="/alta">Únete</a></p>
      </div>
    </div>
  </div>
</div>