@charset "utf-8";
/* CSS Document */
body, head, html {background-color:#eeeeee; height: 100%; padding: 0px; margin: 0px; }
.content {width:100%; background-color:#eeeeee; min-height:170px; padding-top:10px; float:left;}
.contenido {max-width:640px; margin:0px auto;}
.contenido .text {float:left; padding-left:20px;}
.contenido .text p {font-family:"vwhead","Trebuchet MS", Arial, Helvetica, sans-serif;  font-size:14px; color:#083f7b; max-width:380px; margin:35px 0px 0px 0px; text-align:center;}
.cont-mobile {width:100%; display:none; text-align:center;}
.contenido .logo img {width:100%; max-width:495px; margin:0px 3%;}
.contenido .logo, .contenido .loading  {text-align:center; padding: 0 3%;}
.contenido .loading {margin-top:20px;}

@media only screen and (width: 290px)
{	
	.contenido .text {float:none; margin:0px auto; padding:0px 4% 0px 4%; text-align:center;}
	.contenido .logo {float:none; margin:0px auto; width:210px;}
	.contenido .loading {float:none; margin:20px auto; width:100px;}
}
@media only screen and (width: 360px)
{
	.contenido .text {float:none; margin:0px auto; padding:0px 4% 0px 4%; text-align:center;}
}
@media only screen and (width: 320px)
{
	.contenido .text {float:none; margin:0px auto; padding:0px 4% 0px 4%; text-align:center;}
}
@media only screen and (width: 480px)
{
	.contenido .text {float:none; margin:0px auto; padding:0px 4% 0px 4%; text-align:center;}
}