<main>
  <h1>Hello from Angular App with Webpack</h1>
  <at-hovertoggle>
    <at-hovertoggle-off>A</at-hovertoggle-off>
    <at-hovertoggle-on>Goat</at-hovertoggle-on>
  </at-hovertoggle>
  <at-hovertoggle>
    <at-hovertoggle-off>B</at-hovertoggle-off>
    <at-hovertoggle-on>Goat</at-hovertoggle-on>
  </at-hovertoggle>
  <at-hovertoggle>
    <at-hovertoggle-off>C</at-hovertoggle-off>
    <at-hovertoggle-on>Car</at-hovertoggle-on>
  </at-hovertoggle>
  <!--<img src="../../public/images/angular.png">-->
</main>