<div class="section-small section-yellow_black ssplit">
  <div class="container">
    <div class="col-1 col-empty">&nbsp;</div>
    <div class="col-6">
      <div class="ssplit-image diag-left diag-right" style="background-image: url('img/content/bg_productos_v2.jpg')"></div>
    </div>
    <div class="col-5">
      <div class="ssplit-vcenter">
        <div class="large"><strong>Productos&nbsp;PRO</strong> Para dar un mejor servicio</div>
        <p>
          Trabajar con PRO Service permite al taller ofrecer el producto que necesitan los vehículos de sus clientes.
          Todo a través de un solo proveedor y con la garantía y experiencia que aporta el Grupo&nbsp;Volkswagen.
        </p>
      </div>
    </div>
  </div>
</div>