<div class="section-large section-white ssplit">
  <div class="container container-rev">
    <div class="col-5">
      <div class="ssplit-image ssplit-image-centeranchor diag-left" style="background-image: url('img/content/bg_productos_2_v2.jpg')"></div>
    </div>
    <div class="col-7">
      <div class="ssplit-vtop ssplit-vtop-short">
        <p>Algunos productos que ofrecemos son:</p>
        <p>&nbsp;</p>
        <ul class="bullets large_icons">
          <li class="ic-gear">
            <div class="large">Recambios originales del Grupo&nbsp;Volkswagen</div>
            Hacemos llegar al taller los recambios que garantizan el pleno funcionamiento de los
            vehículos de las marcas Volkswagen, ŠKODA, SEAT y Volkswagen Vehículos Comerciales.
          </li>
          <li class="ic-clipboard">
            <div class="large">Productos gama Economy del Grupo&nbsp;Volkswagen</div>También ofrecemos Recambios Originales de alta calidad a precios competitivos.
          </li>
          <li class="ic-wrench_solo">
            <div class="large">Préstamo de útiles</div>
            Ponemos a disposición del taller un amplio servicio de prestación de útiles para
            reparaciones concretas.
          </li>
          <li class="ic-gas">
            <div class="large">Consumibles para taller</div>Todo el material consumible de taller que necesites para ejercer tu actividad diaria.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>