<div class="banner-formulario-meetingpoint">
</div>
<div class="section-white">
  <div class="container">
    <div class="col-single">
      <div class="form-header">
        <div class="ic ic-med ic-signup"></div>
        <h1>Rellena todos los campos para confirmar</h1>
        <h1>tu asistencia al PRO Service Meeting Point</h1>
        <!--<p>Déjanos tus datos para confirmar tu asistencia al evento</p>-->
      </div>
      <form #contactForm="ngForm" class="ps-form full_width align_left" method="post" action="#">
        <div class="form-field">
          <label for="nombre">Nombre:</label>
          <input [(ngModel)]="nombre" required [disabled]="sending" type="text" name="nombre" id="nombre" placeholder="Nombre" maxlength="100"/>
        </div>
        <div class="form-field">
          <label for="apellido">Apellidos:</label>
          <input [(ngModel)]="apellido" required [disabled]="sending" type="text" name="apellido" id="apellido" placeholder="Apellidos" maxlength="100"/>
        </div>
        <div class="form-field">
          <label for="dni">DNI:</label>
          <input [(ngModel)]="dni" required [disabled]="sending" type="text" name="dni" id="dni" placeholder="DNI" maxlength="100"/>
        </div>
        <div class="form-field">
          <label for="email">E-mail de contacto:</label>
          <input [(ngModel)]="email" required [disabled]="sending" type="email" name="email" id="email" placeholder="E-mail de contacto" maxlength="100"/>
        </div>
        <div class="form-field">
          <label for="cargo">Cargo:</label>
          <input [(ngModel)]="cargo" [disabled]="sending" type="text" name="cargo" id="cargo" placeholder="Cargo" maxlength="50"/>
        </div>
        <div class="form-field">
          <label for="telefonoMovilContacto">Teléfono móvil:</label>
          <input [(ngModel)]="telefonoMovilContacto" [disabled]="sending" type="tel" name="telefonoMovilContacto" id="telefonoMovilContacto" placeholder="Teléfono móvil" maxlength="50"/>
        </div>
        <div class="form-field">
          <label class="label-2-line" for="negocio">Nombre de la empresa:</label>
          <input [(ngModel)]="negocio" [disabled]="sending" type="text" name="negocio" id="negocio" placeholder="Nombre de la empresa" maxlength="100"/>
        </div>
        <div class="form-field">
          <label class="label-2-line" for="cif">CIF:</label>
          <input [(ngModel)]="cif" [disabled]="sending" type="text" name="cif" id="cif" placeholder="CIF" maxlength="100"/>
        </div>
        <div class="form-field">
          <label class="label-2-line" for="direccionEmpresa">Dirección de la empresa:</label>
          <input [(ngModel)]="direccionEmpresa" [disabled]="sending" type="text" name="direccionEmpresa" id="direccionEmpresa" placeholder="Dirección de la empresa" maxlength="100"/>
        </div>
        <div class="form-field form-field-rightcol">
          <input [(ngModel)]="aceptoPolitica" [disabled]="sending" type="checkbox" name="aceptoPolitica" id="aceptoPolitica"/>Acepto la política de privacidad*
        </div>
        <div class="form-field-actions actions">
          <input class="button button-full" [class.disabled]="sending" type="submit" value="Enviar" (click)="submitForm(contactForm); false">
          <div *ngIf="sending" class="loading"></div>
        </div>
      </form>
    </div>
  </div>
</div>