<div *ngIf='noticia' class="section section-white section-noticia-detalle">
  <div class="noticia-header">
    <div class="noticia-image" [style.background-image]="noticia.safe_foto"></div>
    <div class="noticia-header-data">
      <div class="container">
        <div class="col-6 col-shift-3">
          <div class="noticia-fecha">{{ noticia.fechaPublicacion | date:'d/M/y' }}</div>
          <div class="noticia-titulo">{{ noticia.titulo }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-3 col-padded-lr">
      <div *ngIf="noticia.tags" class="noticia-tags-title">Etiquetas</div>
      <ul *ngIf="noticia.tags" class="noticia-tags-list">
        <li *ngFor="let tag of noticia.tags"><a [routerLink]="['/noticias-volkswagen-proservice/etiqueta', tag.slug]">{{tag.titulo}}</a></li>
      </ul>
    </div>
    <div class="col-6 col-padded-r">
      <div class="noticia-cuerpo" [innerHTML]="noticia.safe_cuerpo"></div>
      <div class="noticia-datos">
        Fuente | {{ noticia.fuente }} | {{ lastUpdateAction }} el {{ lastUpdateDate | date:'d/M/y' }} a las {{ lastUpdateDate | date:'h:m' }} horas
      </div>
    </div>
    <div class="col-3 col-padded-lr">
      <h3 *ngIf="noticia.relacionadas.length" class="noticia-relacionadas-title">Noticias <strong>relacionadas</strong></h3>
      <div *ngIf="noticia.relacionadas.length" class="noticia-relacionadas noticia-teaser-list">
        <a *ngFor="let relacionada of noticia.relacionadas" class="noticia-teaser-b" [routerLink]="['/noticias-volkswagen-proservice', relacionada.slug]">
          <div class="noticia-thumb" [style.background-image]="relacionada.safe_fotoThumb"></div>
          <div class="noticia-fecha">{{ relacionada.fechaPublicacion | date:'d/M/y' }}</div>
          <div class="noticia-titulo">{{ relacionada.titulo }}</div>
          <div class="arrow arrow-yellow"></div>
        </a>
      </div>
    </div>
  </div>
</div>