<div class="section section-white section-noticia-list">
  <div class="container">
    <div *ngIf="searchTerms" class="col-12 search_result-header">
      <div class="search_result-title">Resultados de búsqueda: <span class="search_result-terms">{{ searchTerms }}</span></div>
    </div>
    <div class="col-12">
      <div class="noticia-teaser-grid">
        <div *ngFor="let noticia of noticias" class="col-3">
          <a class="noticia-teaser-b" [routerLink]="['/noticias-volkswagen-proservice', noticia.slug]">
            <div class="noticia-thumb" [style.background-image]="noticia.safe_fotoThumb"></div>
            <div class="noticia-fecha">{{ noticia.fechaPublicacion | date:'d/M/y' }}</div>
            <div class="noticia-titulo">{{ noticia.titulo }}</div>
            <div class="noticia-teaser-text" [innerHTML]="noticia.safe_teaserText "></div>
            <div class="arrow arrow-yellow"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>