<div class="section-small section-white ssplit">
  <div class="container container-rev">
    <div class="col-7">
      <div class="ssplit-image diag-left" style="background-image: url('img/content/bg_acerca_compromiso_v2.jpg')"></div>
    </div>
    <div class="col-5">
      <div class="ssplit-vcenter">
        <div class="large">Con el compromiso del <strong>Grupo Volkswagen</strong></div>
        <p>
          En el Grupo Volkswagen creemos que los propietarios de nuestros vehículos merecen que sus automóviles funcionen
          siempre tal y como salieron de fábrica.
        </p>
        <p>
          Por eso, trabajamos diariamente para ofrecerles un servicio excelente y nuestros Recambios Originales. Todo
          ello, con la confianza que nos aporta conocer su vehículo y la experiencia de formar parte del grupo líder en
          automoción en el ámbito nacional.
        </p>
      </div>
    </div>
  </div>
</div>