<div class="section-small section-black ssplit">
  <div class="container">
    <div class="col-7">
      <div class="ssplit-image diag-right" style="background-image: url('img/content/bg_acerca_tu_punto.jpg')"></div>
    </div>
    <div class="col-5">
      <div class="ssplit-vcenter">
        <div class="large">Tu punto de <strong>Recambios&nbsp;originales</strong></div>
        <p>
          PRO Service es el nuevo Punto de Recambios Originales del Grupo Volkswagen creado para adaptarse a las
          necesidades y dinámicas de trabajo del taller.
        </p>
        <p>
          El objetivo de este servicio responde a la necesidad de los talleres de sacar el mayor rendimiento a su
          negocio y mejorar la relación con sus clientes.
        </p>
      </div>
    </div>
  </div>
</div>