<div class="section-acerca-pro_a_pro section-small section-black_white ssplit">
  <div class="pro_a_pro-de"></div>
  <div class="pro_a_pro-a"></div>
  <div class="container">
    <div class="col-4">
      <div class="ssplit-vtop">
        <p>
          PRO Service es nuestra mejor manera de extender este compromiso hacia los talleres y que a su vez ellos lo
          puedan trasladar a sus clientes.
        </p>
      </div>
    </div>
    <div class="col-6 col-acerca-pro_a_pro-image">
      <div class="ssplit-image diag-left diag-right" style="background-image: url('img/content/bg_acerca_pro_a_pro_v2.jpg')"></div>
    </div>
    <div class="col-2"></div>
  </div>
</div>