<div class="section-small section-white ssplit">
  <div class="container container-rev">
    <div class="col-7">
      <div class="ssplit-image diag-left ssplit-image-rightanchor" style="background-image: url('img/content/bg_contacta_telefono.jpg')"></div>
    </div>
    <div class="col-5">
      <div class="ssplit-vtop ssplit-vtop-centered">
        <div class="ic ic-large ic-operator"></div>
        <h3>Por teléfono</h3>
        <p>Teléfono genérico<br/>902 09 01 40</p>
        <p>¿Quieres hablar con tu punto PRO Service más cercano?</p>
        <form class="ps-form">
          <input [(ngModel)]="codigoPostal" type="text" name="cp" placeholder="Introduce tu código postal" maxlength="10"/>
          <input (click)="findClosePunto(); false" class="button" type="submit" value="Buscar"/>
        </form>
      </div>
    </div>
  </div>
</div>