<div class="section-xlarge section-white ssplit">
  <div class="container">
    <div class="col-6">
      <div class="ssplit-image ssplit-image-centeranchor diag-right" style="background-image: url('img/content/bg_contacta_email_v2.jpg')"></div>
    </div>
    <div class="col-6">
      <div class="ssplit-vtop ssplit-vtop-centered">
        <div class="ic ic-large ic-screen"></div>
        <h3>Por e-mail</h3>
        <form #contactForm="ngForm" class="ps-form full_width align_left" method="post" action="#">
          <input [(ngModel)]="nombre" required [disabled]="sending" type="text" name="nombre" placeholder="Nombre" maxlength="100"/>
          <input [(ngModel)]="apellido" required [disabled]="sending" type="text" name="apellido" placeholder="Apellidos" maxlength="100"/>
          <input [(ngModel)]="email" required [disabled]="sending" type="email" name="email" placeholder="E-mail de contacto" maxlength="100"/>
          <select [(ngModel)]="sector" name="sector" [disabled]="sending">
            <option value="" disabled selected hidden>&nbsp;&nbsp;Sector al que pertenece</option>
            <option value="Taller">&nbsp;&nbsp;Taller</option>
            <option value="Compañía">&nbsp;&nbsp;Compañía</option>
            <option value="Otros">&nbsp;&nbsp;Otros</option>
          </select>
          <input [(ngModel)]="negocio" [disabled]="sending" type="text" name="negocio" placeholder="Nombre del negocio / compañía" maxlength="100"/>
          <input [(ngModel)]="telefonoContacto" [disabled]="sending" type="tel" name="telefonoContacto" placeholder="Teléfono fijo" maxlength="50"/>
          <input [(ngModel)]="telefonoMovilContacto" [disabled]="sending" type="tel" name="telefonoMovilContacto" placeholder="Teléfono móvil" maxlength="50"/>
          <input [(ngModel)]="codigoPostal" required [disabled]="sending" type="text" name="codigoPostal" placeholder="Código Postal" maxlength="10"/>
          <textarea [(ngModel)]="consulta" required [disabled]="sending" name="consulta" placeholder="Tu consulta" rows="10"></textarea>
          <label for="newsletter">
            <input [(ngModel)]="newsletter" [disabled]="sending" type="checkbox" name="newsletter" id="newsletter"/>Me gustaría recibir la newsletter mensual de PRO Service
          </label>
          <div class="actions">
            <input class="button" [class.disabled]="sending" type="submit" value="Enviar" (click)="submitForm(contactForm); false">
            <div *ngIf="sending" class="loading"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>