<div class="at-hovertoggle" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
  <div class="at-hovertoggle-off" [hidden]="isOn">
    <ng-content select="at-hovertoggle-off"></ng-content>
  </div>
  <div class="at-hovertoggle-on" [hidden]="!isOn">
    <ng-content select="at-hovertoggle-on"></ng-content>
  </div>
</div>