.at-hovertoggle {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #eee;
  font-size: 24px;
  line-height: 200px;
  text-align: center;
  margin: 20px;
}

.at-hovertoggle [hidden] {
  background-color: #000;
}