<div class="section-med section-white ssplit overflow">
  <div class="container">
    <div class="col-5">
      <div class="ssplit-vtop">
        <h2 class="mixed">Encuentra tu<br><strong>Punto PRO Service</strong></h2>
        <p>
          Tienes a tu disposición una cobertura nacional de 41 Puntos de Recambios Originales.
          Una red amplia y cercana que te permitirá disponer a tiempo del stock necesario para
          ganarte la satisfacción de tus clientes.
        </p>
        <p>Introduce tu código postal y descubre tu Punto PRO Service más cercano.</p>
        <form class="ps-form" method="get" action="#">
          <input type="text" name="searchString" placeholder="Introduce tu código postal"
                 maxlength="10" pattern="^\d+$"
                 [(ngModel)]="searchString" [disabled]="loading">
          <div class="actions">
            <input (click)="submit(); false" class="button" [class.disabled]="loading" type="submit" value="Ver datos de contacto">
            <div *ngIf="loading" class="loading"></div>
          </div>
        </form>
      </div>
      <div *ngIf="puntoSearchString" class="ppro-search-title">{{ puntoSearchString }}<a class="close" href="#" (click)="clearSearch()"></a></div>
    </div>
    <div class="col-7 hidden-xs">
      <div class="ssplit-image ssplit-image-contain" style="background-image: url('img/content/bg_ppro_mapa.jpg')"></div>
    </div>
  </div>
</div>
<div *ngIf="punto" class="section-nopadding section-yellow section-ppro-data">
  <div class="container">
    <div class="col-full">
      <div class="ppro-data-image" [style.background-image]="safeImage(punto.urlFotoInterior)"></div>
      <div class="ppro-data-image" [style.background-image]="safeImage(punto.urlMapaAgencia)"></div>
    </div>
    <div class="col-4 col-padded col-ppro-data">
      <div class="ppro-data-name">{{ punto.agencia }}</div>
      <div class="ppro-data-address" innerHTML="{{ punto.direccion }}<br>
        {{ punto.cp }} {{ punto.provincia }}">
      </div>
    </div>
    <div class="col-8 col-padded-noright">
      <div class="ppro-data-icons">
        <div class="ic ic-small ic-person"></div>
        <div *ngIf="punto.telefono || punto.movil" class="ic ic-small ic-phone"></div>
        <div *ngIf="punto.mail" class="ic ic-small ic-envelope"></div>
      </div>
      <div class="ppro-data-contact_name">{{ punto.contactoNombre }}</div>
      <div class="ppro-data-contact_position">{{ punto.contactoCargo }}</div>
      <div *ngIf="punto.telefono" class="ppro-data-phone">{{ punto.telefono }}</div>
      <div *ngIf="punto.movil" class="ppro-data-phone">{{ punto.movil }}</div>
      <div class="ppro-data-email"><a href="mailto:{{ punto.mail }}">{{ punto.mail }}</a></div>
    </div>
  </div>
</div>
<div *ngIf="punto && punto.rutas.length > 0" class="section-white">
  <div class="container">
    <div class="col-full col-padded-top">
      <h2 class="mixed"><strong>{{ punto.rutas.length }} rutas</strong> de entrega</h2>
      <ul class="selector_buttons">
        <li *ngFor="let ruta of punto.rutas; let i = index;" [class.active]="i == selectedRuta"><a href="#" (click)="selectRuta(i)">{{ ruta.nombre }}</a></li>
      </ul>
      <div class="ppro-map">
        <div class="ppro-map-image" [style.background-image]="getMapImage(selectedRuta)"></div>
        <div class="ppro-map-overlay">
          <div class="ppro-map-overlay-title">{{ punto.rutas[selectedRuta].nombre }}</div>
          <div class="ppro-ic-delivery"></div><strong>Nivel de servicio:<br></strong>{{ punto.rutas[selectedRuta].nivelServicio }}
        </div>
      </div>
    </div>
  </div>
</div>